<div class="info">
  <%= render 'shared/avatar', user: right_fielder_stat.user %>
  <h4 class="name"><%= right_fielder_stat.user.name %></h4>
  <span class="action">created an <%= link_to 'right_fielder_stat', right_fielder_stat %></span>
</div>
<div class="content">
  <h3><%= right_fielder_stat.event %></h3>
  <span class="text">
    
<p>
  <strong>Games started:</strong>
  <%= right_fielder_stat.games_started %>
</p>

<p>
  <strong>Games played:</strong>
  <%= right_fielder_stat.games_played %>
</p>

<p>
  <strong>Win:</strong>
  <%= right_fielder_stat.win %>
</p>

<p>
  <strong>Loss:</strong>
  <%= right_fielder_stat.loss %>
</p>

<p>
  <strong>Wins:</strong>
  <%= right_fielder_stat.wins %>
</p>

<p>
  <strong>Losses:</strong>
  <%= right_fielder_stat.losses %>
</p>

<p>
  <strong>Plate appearances:</strong>
  <%= right_fielder_stat.plate_appearances %>
</p>

<p>
  <strong>At bats:</strong>
  <%= right_fielder_stat.at_bats %>
</p>

<p>
  <strong>Hits:</strong>
  <%= right_fielder_stat.hits %>
</p>

<p>
  <strong>Runs scored:</strong>
  <%= right_fielder_stat.runs_scored %>
</p>

<p>
  <strong>Runs batted in:</strong>
  <%= right_fielder_stat.runs_batted_in %>
</p>

<p>
  <strong>Walks:</strong>
  <%= right_fielder_stat.walks %>
</p>

<p>
  <strong>Strike outs:</strong>
  <%= right_fielder_stat.strike_outs %>
</p>

<p>
  <strong>Stolen bases:</strong>
  <%= right_fielder_stat.stolen_bases %>
</p>

<p>
  <strong>Doubles:</strong>
  <%= right_fielder_stat.doubles %>
</p>

<p>
  <strong>Triples:</strong>
  <%= right_fielder_stat.triples %>
</p>

<p>
  <strong>Home runs:</strong>
  <%= right_fielder_stat.home_runs %>
</p>

    
  </span>
  <%= render 'shared/created_at', activity: right_fielder_stat %>
  <div class="points">
    <span class="like-count"><%= pluralize(right_fielder_stat.cached_votes_up, 'like') %></span>
    <span class="comment-count"><%= pluralize(right_fielder_stat.comments_count, 'comment') %></span>
    <div class="pull-right">
      <% if belongs_to_user?(right_fielder_stat) %>
        <%= form_tag right_fielder_stat_path(right_fielder_stat), method: :delete, remote: remote do %>
          <% button_tag class: 'btn btn-danger btn-sm' do %>
            <%= fa_icon 'trash' %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<%= render 'shared/actions', resource: right_fielder_stat %>