<div class="info">
  <%= render 'shared/avatar', user: defensive_end_stat.user %>
  <h4 class="name"><%= defensive_end_stat.user.name %></h4>
  <span class="action">created an <%= link_to 'defensive_end_stat', defensive_end_stat %></span>
</div>
<div class="content">
  <h3><%= defensive_end_stat.event %></h3>
  <span class="text">

<p>
  Win:
  <%= @defensive_end_stat.win ? 'Yes' : 'No' %>
</p>

<p>
 score:
  <%= defensive_end_stat.score %> - <%= defensive_end_stat.opponent_score %>
</p>

<span class="points"><%= link_to 'view more stats', defensive_end_stat %></span>


  </span>
  <%= render 'shared/created_at', activity: defensive_end_stat %>
  <div class="points">
    <span class="like-count"><%= pluralize(defensive_end_stat.cached_votes_up, 'like') %></span>
    <span class="comment-count"><%= pluralize(defensive_end_stat.comments_count, 'comment') %></span>
    <div class="pull-right">
      <% if belongs_to_user?(defensive_end_stat) %>
        <%= form_tag defensive_end_stat_path(defensive_end_stat), method: :delete, remote: remote do %>
          <% button_tag class: 'btn btn-danger btn-sm' do %>
            <%= fa_icon 'trash' %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<%= render 'shared/actions', resource: defensive_end_stat %>