<%= form_for(@defensive_end_stat) do |f| %>
  <div class="field">
    <%= f.label :event %><br>
    <%= f.text_field :event, class: 'form-control', autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :win %><br>
    <%= f.check_box :win %>
  </div>
    <div class="field">
    <%= f.label "Your final score" %><br>
    <%= f.text_field :score, class: 'form-control', autofocus: true %>
  </div>
    <div class="field">
    <%= f.label "Opponent's final score" %><br>
    <%= f.text_field :opponent_score, class: 'form-control', autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :tackles %><br>
    <%= f.number_field :tackles, class: 'form-control', autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :sacks %><br>
    <%= f.number_field :sacks, class: 'form-control', autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :fumbles %><br>
    <%= f.number_field :fumbles, class: 'form-control', autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :interception %><br>
    <%= f.number_field :interception, class: 'form-control', autofocus: true %>
  </div>
  <div class="actions">
    <%= f.submit :create, class: 'btn btn-primary' %>
  </div>
<% end %>
