<div id="event-<%= @defensive_end_stat.id %>" class="event">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 well">
      <%= render @defensive_end_stat, remote: false %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 well">
      <h4>Comments</h4>
      <hr>
      <%= render 'comments/form', commentable: @event %>
      <br>
      <div class="comments">
        <%= render(@comments) || render('shared/no_resource', resources: 'Comments') %>
      </div>
    </div>
  </div>
</div>



<p id="notice"><%= notice %></p>

<p>
  <strong>Position name:</strong>
  <%= @defensive_end_stat.position_name %>
</p>

<p>
  <strong>Shorthand:</strong>
  <%= @defensive_end_stat.shorthand %>
</p>

<p>
  <strong>Sport:</strong>
  <%= @defensive_end_stat.sport_id %>
</p>

<p>
  <strong>Position:</strong>
  <%= @defensive_end_stat.position_id %>
</p>

<p>
  <strong>Sport name:</strong>
  <%= @defensive_end_stat.sport_name %>
</p>

<p>
  <strong>Event:</strong>
  <%= @defensive_end_stat.event %>
</p>

<p>
  <strong>Win:</strong>
  <%= @defensive_end_stat.win %>
</p>

<p>
  <strong>Loss:</strong>
  <%= @defensive_end_stat.loss %>
</p>

<p>
  <strong>Wins:</strong>
  <%= @defensive_end_stat.wins %>
</p>

<p>
  <strong>Losses:</strong>
  <%= @defensive_end_stat.losses %>
</p>

<p>
  <strong>Tackles:</strong>
  <%= @defensive_end_stat.tackles %>
</p>

<p>
  <strong>Sacks:</strong>
  <%= @defensive_end_stat.sacks %>
</p>

<p>
  <strong>Fumbles:</strong>
  <%= @defensive_end_stat.fumbles %>
</p>

<p>
  <strong>Interception:</strong>
  <%= @defensive_end_stat.interception %>
</p>

<p>
  <strong>User:</strong>
  <%= @defensive_end_stat.user %>
</p>

<p>
  <strong>Stat:</strong>
  <%= @defensive_end_stat.stat %>
</p>

<p>
  <strong>Sport:</strong>
  <%= @defensive_end_stat.sport %>
</p>

<p>
  <strong>Position:</strong>
  <%= @defensive_end_stat.position %>
</p>

<%= link_to 'Edit', edit_defensive_end_stat_path(@defensive_end_stat) %> |
<%= link_to 'Back', defensive_end_stats_path %>
