<div class="info">
  <%= render 'shared/avatar', user: shooting_guard_stat.user %>
  <h4 class="name"><%= shooting_guard_stat.user.name %></h4>
  <span class="action">created an <%= link_to 'shooting_guard_stat', shooting_guard_stat %></span>
</div>
<div class="content">
  <h3><%= shooting_guard_stat.name %></h3>
  <span class="text">
    <!-- <%= fa_icon'calendar' %> <%= formatted_time(event.when) %> -->
  </span>
  <%= render 'shared/created_at', activity: shooting_guard_stat %>
  <div class="points">
    <span class="like-count"><%= pluralize(shooting_guard_stat.cached_votes_up, 'like') %></span>
    <span class="comment-count"><%= pluralize(shooting_guard_stat.comments_count, 'comment') %></span>
    <div class="pull-right">
      <% if belongs_to_user?(shooting_guard_stat) %>
        <%= form_tag shooting_guard_stat_path(shooting_guard_stat), method: :delete, remote: remote do %>
          <% button_tag class: 'btn btn-danger btn-sm' do %>
            <%= fa_icon 'trash' %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<%= render 'shared/actions', resource: shooting_guard_stat %>