<p id="notice"><%= notice %></p>

<h1>Listing Shooting Guard Stats</h1>

<table>
  <thead>
    <tr>
      <th>Position name</th>
      <th>Shorthand</th>
      <th>Sport</th>
      <th>Position</th>
      <th>Sport name</th>
      <th>Event</th>
      <th>Games started</th>
      <th>Games played</th>
      <th>Win</th>
      <th>Loss</th>
      <th>Wins</th>
      <th>Losses</th>
      <th>Minutes played</th>
      <th>Fieldgoals made</th>
      <th>Fieldgoal attemps</th>
      <th>Threepoints made</th>
      <th>Threepoint attemps</th>
      <th>Freethrows made</th>
      <th>Freethrow attemps</th>
      <th>Rebounds</th>
      <th>Assists</th>
      <th>Steals</th>
      <th>Blocks</th>
      <th>Points</th>
      <th>User</th>
      <th>Stat</th>
      <th>Sport</th>
      <th>Position</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shooting_guard_stats.each do |shooting_guard_stat| %>
      <tr>
        <td><%= shooting_guard_stat.position_name %></td>
        <td><%= shooting_guard_stat.shorthand %></td>
        <td><%= shooting_guard_stat.sport_id %></td>
        <td><%= shooting_guard_stat.position_id %></td>
        <td><%= shooting_guard_stat.sport_name %></td>
        <td><%= shooting_guard_stat.event %></td>
        <td><%= shooting_guard_stat.games_started %></td>
        <td><%= shooting_guard_stat.games_played %></td>
        <td><%= shooting_guard_stat.win %></td>
        <td><%= shooting_guard_stat.loss %></td>
        <td><%= shooting_guard_stat.wins %></td>
        <td><%= shooting_guard_stat.losses %></td>
        <td><%= shooting_guard_stat.minutes_played %></td>
        <td><%= shooting_guard_stat.fieldgoals_made %></td>
        <td><%= shooting_guard_stat.fieldgoal_attemps %></td>
        <td><%= shooting_guard_stat.threepoints_made %></td>
        <td><%= shooting_guard_stat.threepoint_attemps %></td>
        <td><%= shooting_guard_stat.freethrows_made %></td>
        <td><%= shooting_guard_stat.freethrow_attemps %></td>
        <td><%= shooting_guard_stat.rebounds %></td>
        <td><%= shooting_guard_stat.assists %></td>
        <td><%= shooting_guard_stat.steals %></td>
        <td><%= shooting_guard_stat.blocks %></td>
        <td><%= shooting_guard_stat.points %></td>
        <td><%= shooting_guard_stat.user.try(:name) %></td>
        <td><%= shooting_guard_stat.stat %></td>
        <td><%= shooting_guard_stat.sport %></td>
        <td><%= shooting_guard_stat.position %></td>
        <td><%= link_to 'Show', shooting_guard_stat %></td>
        <td><%= link_to 'Edit', edit_shooting_guard_stat_path(shooting_guard_stat) %></td>
        <td><%= link_to 'Destroy', shooting_guard_stat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shooting guard stat', new_shooting_guard_stat_path %>
