<div id="event-<%= @shooting_guard_stat.id %>" class="event">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 well">
      <div class="info">
  <%= render 'shared/avatar', user: @shooting_guard_stat.user %>
  <h4 class="name"><%= @shooting_guard_stat.user.name %></h4>
  <span class="action">created a <%= link_to 'Starting Pitcher ', @shooting_guard_stat %>stat</span>
</div>
<div class="content">
  <h3><%= @shooting_guard_stat.event %></h3>
  <span class="text">

<!-- <p>
  <strong>Games started:</strong>
  <%= @shooting_guard_stat.games_started %>
</p>
-->

<p>
  <strong>Win:</strong>
  <%= @shooting_guard_stat.win %>
</p>
<p>
 Score:
  <%= @shooting_guard_stat.score %> - <%= @shooting_guard_stat.opponent_score %>
</p>
<p>
  <strong>Minutes played:</strong>
  <%= @shooting_guard_stat.minutes_played %>
</p>

<p>
  <strong>Fieldgoals made:</strong>
  <%= @shooting_guard_stat.fieldgoals_made %>
</p>

<p>
  <strong>Fieldgoal attemps:</strong>
  <%= @shooting_guard_stat.fieldgoal_attemps %>
</p>

<p>
  <strong>Threepoints made:</strong>
  <%= @shooting_guard_stat.threepoints_made %>
</p>

<p>
  <strong>Threepoint attemps:</strong>
  <%= @shooting_guard_stat.threepoint_attemps %>
</p>

<p>
  <strong>Freethrows made:</strong>
  <%= @shooting_guard_stat.freethrows_made %>
</p>

<p>
  <strong>Freethrow attemps:</strong>
  <%= @shooting_guard_stat.freethrow_attemps %>
</p>

<p>
  <strong>Rebounds:</strong>
  <%= @shooting_guard_stat.rebounds %>
</p>

<p>
  <strong>Assists:</strong>
  <%= @shooting_guard_stat.assists %>
</p>

<p>
  <strong>Steals:</strong>
  <%= @shooting_guard_stat.steals %>
</p>

<p>
  <strong>Blocks:</strong>
  <%= @shooting_guard_stat.blocks %>
</p>

<p>
  <strong>Points:</strong>
  <%= @shooting_guard_stat.points %>
</p>

  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 well">
      <h4>Comments</h4>
      <hr>
      <%= render 'comments/form', commentable: @shooting_guard_stat %>
      <br>
      <div class="comments">
        <%= render(@comments) || render('shared/no_resource', resources: 'Comments') %>
      </div>
    </div>
  </div>
</div>