<p id="notice"><%= notice %></p>

<h1>Listing Offensive Lineman Stats</h1>

<table>
  <thead>
    <tr>
      <th>Position name</th>
      <th>Shorthand</th>
      <th>Sport</th>
      <th>Position</th>
      <th>Sport name</th>
      <th>Event</th>
      <th>Games played</th>
      <th>Win</th>
      <th>Loss</th>
      <th>Wins</th>
      <th>Losses</th>
      <th>Pancakes</th>
      <th>User</th>
      <th>Stat</th>
      <th>Sport</th>
      <th>Position</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @offensive_lineman_stats.each do |offensive_lineman_stat| %>
      <tr>
        <td><%= offensive_lineman_stat.position_name %></td>
        <td><%= offensive_lineman_stat.shorthand %></td>
        <td><%= offensive_lineman_stat.sport_id %></td>
        <td><%= offensive_lineman_stat.position_id %></td>
        <td><%= offensive_lineman_stat.sport_name %></td>
        <td><%= offensive_lineman_stat.event %></td>
        <td><%= offensive_lineman_stat.games_played %></td>
        <td><%= offensive_lineman_stat.win %></td>
        <td><%= offensive_lineman_stat.loss %></td>
        <td><%= offensive_lineman_stat.wins %></td>
        <td><%= offensive_lineman_stat.losses %></td>
        <td><%= offensive_lineman_stat.pancakes %></td>
        <td><%= offensive_lineman_stat.user.try(:name) %></td>
        <td><%= offensive_lineman_stat.stat %></td>
        <td><%= offensive_lineman_stat.sport %></td>
        <td><%= offensive_lineman_stat.position %></td>
        <td><%= link_to 'Show', offensive_lineman_stat %></td>
        <td><%= link_to 'Edit', edit_offensive_lineman_stat_path(offensive_lineman_stat) %></td>
        <td><%= link_to 'Destroy', offensive_lineman_stat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Offensive lineman stat', new_offensive_lineman_stat_path %>
