<div class="row">
<div class="col-lg-12 well">
<p id="notice"><%= notice %></p>

<h1>Listing Offensive Lineman Stats</h1>

<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>Event</th>
      <th>Win</th>
      <th>Score</th>
      <th>Pancakes</th>
      <th>Athlete</th>
    </tr>
  </thead>

  <tbody>
    <% @offensive_lineman_stats.each do |offensive_lineman_stat| %>
      <tr>
        <td><%= offensive_lineman_stat.event %></td>
        <td><%= offensive_lineman_stat.win ? 'Yes' : 'No' %></td>
        <td><%= offensive_lineman_stat.score %> - <%= offensive_lineman_stat.opponent_score %></td>
        <td><%= offensive_lineman_stat.pancakes %></td>
        <td><%= offensive_lineman_stat.user.try(:name) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>