<div id="event-<%= @offensive_lineman_stat.id %>" class="event">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 well">
      <%= render @offensive_lineman_stat, remote: false %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 well">
      <h4>Comments</h4>
      <hr>
      <%= render 'comments/form', commentable: @offensive_lineman_stat %>
      <br>
      <div class="comments">
        <%= render(@comments) || render('shared/no_resource', resources: 'Comments') %>
      </div>
    </div>
  </div>
</div>



<p>
  <strong>Event:</strong>
  <%= @offensive_lineman_stat.event %>
</p>

<p>
  <strong>Win:</strong>
  <%= @offensive_lineman_stat.win %>
</p>

<p>
  <strong>Pancakes:</strong>
  <%= @offensive_lineman_stat.pancakes %>
</p>
