<p id="notice"><%= notice %></p>

<p>
  <strong>Position name:</strong>
  <%= @offensive_lineman_stat.position_name %>
</p>

<p>
  <strong>Shorthand:</strong>
  <%= @offensive_lineman_stat.shorthand %>
</p>

<p>
  <strong>Sport:</strong>
  <%= @offensive_lineman_stat.sport_id %>
</p>

<p>
  <strong>Position:</strong>
  <%= @offensive_lineman_stat.position_id %>
</p>

<p>
  <strong>Sport name:</strong>
  <%= @offensive_lineman_stat.sport_name %>
</p>

<p>
  <strong>Event:</strong>
  <%= @offensive_lineman_stat.event %>
</p>

<p>
  <strong>Games played:</strong>
  <%= @offensive_lineman_stat.games_played %>
</p>

<p>
  <strong>Win:</strong>
  <%= @offensive_lineman_stat.win %>
</p>

<p>
  <strong>Loss:</strong>
  <%= @offensive_lineman_stat.loss %>
</p>

<p>
  <strong>Wins:</strong>
  <%= @offensive_lineman_stat.wins %>
</p>

<p>
  <strong>Losses:</strong>
  <%= @offensive_lineman_stat.losses %>
</p>

<p>
  <strong>Pancakes:</strong>
  <%= @offensive_lineman_stat.pancakes %>
</p>

<p>
  <strong>User:</strong>
  <%= @offensive_lineman_stat.user %>
</p>

<p>
  <strong>Stat:</strong>
  <%= @offensive_lineman_stat.stat %>
</p>

<p>
  <strong>Sport:</strong>
  <%= @offensive_lineman_stat.sport %>
</p>

<p>
  <strong>Position:</strong>
  <%= @offensive_lineman_stat.position %>
</p>

<%= link_to 'Edit', edit_offensive_lineman_stat_path(@offensive_lineman_stat) %> |
<%= link_to 'Back', offensive_lineman_stats_path %>
