<div class="info">
  <%= render 'shared/avatar', user: wide_receiver_stat.user %>
  <h4 class="name"><%= wide_receiver_stat.user.name %></h4>
  <span class="action">created an <%= link_to 'wide_receiver_stat', wide_receiver_stat %></span>
</div>
<div class="content">
  <h3><%= wide_receiver_stat.event %></h3>
  <span class="text">
   
<p>
  Win:
  <%= wide_receiver_stat.win %>
</p>

<p>
  Receptions:
  <%= wide_receiver_stat.receptions %>
</p>

<p>
  Reception yards:
  <%= wide_receiver_stat.reception_yards %>
</p>

<p>
  Reception touchdowns:
  <%= wide_receiver_stat.reception_touchdowns %>
</p>

<p>
  Fumbles:
  <%= wide_receiver_stat.fumbles %>
</p>

  </span>
  <%= render 'shared/created_at', activity: wide_receiver_stat %>
  <div class="points">
    <span class="like-count"><%= pluralize(wide_receiver_stat.cached_votes_up, 'like') %></span>
    <span class="comment-count"><%= pluralize(wide_receiver_stat.comments_count, 'comment') %></span>
    <div class="pull-right">
      <% if belongs_to_user?(wide_receiver_stat) %>
        <%= form_tag wide_receiver_stat_path(wide_receiver_stat), method: :delete, remote: remote do %>
          <% button_tag class: 'btn btn-danger btn-sm' do %>
            <%= fa_icon 'trash' %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<%= render 'shared/actions', resource: wide_receiver_stat %>