<div class="row">
<div class="col-lg-12 well">
<p id="notice"><%= notice %></p>

<h1>Listing Wide Receiver Stats</h1>

<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>Event</th>
      <th>Win</th>
      <th>Score</th>
      <th>Receptions</th>
      <th>Reception yards</th>
      <th>Reception touchdowns</th>
      <th>Fumbles</th>
      <th>Athlete</th>
    </tr>
  </thead>

  <tbody>
    <% @wide_receiver_stats.each do |wide_receiver_stat| %>
      <tr>
        <td><%= wide_receiver_stat.event %></td>
        <td><%= wide_receiver_stat.win ? 'Yes' : 'No' %></td>
        <td><%= wide_receiver_stat.score %> - <%= wide_receiver_stat.opponent_score %></td>
        <td><%= wide_receiver_stat.receptions %></td>
        <td><%= wide_receiver_stat.reception_yards %></td>
        <td><%= wide_receiver_stat.reception_touchdowns %></td>
        <td><%= wide_receiver_stat.fumbles %></td>
        <td><%= wide_receiver_stat.user.try(:name) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>
