<div id="event-<%= @wide_receiver_stat.id %>" class="event">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 well">
      <div class="info">
  <%= render 'shared/avatar', user: @wide_receiver_stat.user %>
  <h4 class="name"><%= @wide_receiver_stat.user.name %></h4>
  <span class="action">created a <%= link_to 'Starting Pitcher ', @wide_receiver_stat %>stat</span>
</div>
<div class="content">
  <h3><%= @wide_receiver_stat.event %></h3>
  <span class="text">

<p>
  <strong>Win:</strong>
  <%= @wide_receiver_stat.win %>
</p>

<p>
 Score:
  <%= @wide_receiver_stat.score %> - <%= @wide_receiver_stat.opponent_score %>
</p>


    <% if @wide_receiver_stat.receptions.present? %>
<p>
  <strong>Receptions:</strong>
  <%= @wide_receiver_stat.receptions %>
</p>
    <% end %>
    <% if @wide_receiver_stat.reception_yards.present? %>
<p>
  <strong>Reception yards:</strong>
  <%= @wide_receiver_stat.reception_yards %>
</p>
    <% end %>
    <% if @wide_receiver_stat.reception_touchdowns.present? %>
<p>
  <strong>Reception touchdowns:</strong>
  <%= @wide_receiver_stat.reception_touchdowns %>
</p>
    <% end %>
    <% if @wide_receiver_stat.fumbles.present? %>
<p>
  <strong>Fumbles:</strong>
  <%= @wide_receiver_stat.fumbles %>
</p>
    <% end %>



<!-- <%= link_to 'Edit', edit_wide_receiver_stat_path(@wide_receiver_stat) %> |
<%= link_to 'Back', wide_receiver_stats_path %> -->

  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 well">
      <h4>Comments</h4>
      <hr>
      <%= render 'comments/form', commentable: @wide_receiver_stat %>
      <br>
      <div class="comments">
        <%= render(@comments) || render('shared/no_resource', resources: 'Comments') %>
      </div>
    </div>
  </div>
</div>