<div class="row">
<div class="col-lg-12 well">
<p id="notice"><%= notice %></p>

<h1>Listing Second Baseman Stats</h1>

<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>Event</th>
      <!-- <th>Games started</th>-->
      <th>Win</th>
      <th>Score</th>
      <th>Plate appearances</th>
      <th>At bats</th>
      <th>Hits</th>
      <th>Runs scored</th>
      <th>Runs batted in</th>
      <th>Walks</th>
      <th>Strike outs</th>
      <th>Stolen bases</th>
      <th>Doubles</th>
      <th>Triples</th>
      <th>Home runs</th>
      <th>Athlete</th>
    </tr>
  </thead>

  <tbody>
    <% @second_baseman_stats.each do |second_baseman_stat| %>
      <tr>
        <td><%= second_baseman_stat.event %></td>
        <!-- <td><%= second_baseman_stat.games_started %></td> -->
        <td><%= second_baseman_stat.win ? 'Yes' : 'No' %></td>
        <td><%= second_baseman_stat.score %> - <%= second_baseman_stat.opponent_score %></td>
        <td><%= second_baseman_stat.plate_appearances %></td>
        <td><%= second_baseman_stat.at_bats %></td>
        <td><%= second_baseman_stat.hits %></td>
        <td><%= second_baseman_stat.runs_scored %></td>
        <td><%= second_baseman_stat.runs_batted_in %></td>
        <td><%= second_baseman_stat.walks %></td>
        <td><%= second_baseman_stat.strike_outs %></td>
        <td><%= second_baseman_stat.stolen_bases %></td>
        <td><%= second_baseman_stat.doubles %></td>
        <td><%= second_baseman_stat.triples %></td>
        <td><%= second_baseman_stat.home_runs %></td>
        <td><%= second_baseman_stat.user.try(:name) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>