<%= form_for(@relief_pitcher_stat) do |f| %>
  <div class="field">
    <%= f.label :event %><br>
    <%= f.text_field :event %>
  </div>
  <div class="field">
    <%= f.label :games_started %><br>
    <%= f.number_field :games_started %>
  </div>
  <div class="field">
    <%= f.label :games_played %><br>
    <%= f.number_field :games_played %>
  </div>
  <div class="field">
    <%= f.label :win %><br>
    <%= f.check_box :win %>
  </div>
  <div class="field">
    <%= f.label :loss %><br>
    <%= f.check_box :loss %>
  </div>
  <div class="field">
    <%= f.label :wins %><br>
    <%= f.number_field :wins %>
  </div>
  <div class="field">
    <%= f.label :losses %><br>
    <%= f.number_field :losses %>
  </div>
  <div class="field">
    <%= f.label :pitcher_win %><br>
    <%= f.check_box :pitcher_win %>
  </div>
  <div class="field">
    <%= f.label :pitcher_loss %><br>
    <%= f.check_box :pitcher_loss %>
  </div>
  <div class="field">
    <%= f.label :pitcher_wins %><br>
    <%= f.number_field :pitcher_wins %>
  </div>
  <div class="field">
    <%= f.label :pitcher_losses %><br>
    <%= f.number_field :pitcher_losses %>
  </div>
  <div class="field">
    <%= f.label :pitcher_no_decision %><br>
    <%= f.check_box :pitcher_no_decision %>
  </div>
  <div class="field">
    <%= f.label :pitcher_no_decisions %><br>
    <%= f.number_field :pitcher_no_decisions %>
  </div>
  <div class="field">
    <%= f.label :pitcher_saves %><br>
    <%= f.number_field :pitcher_saves %>
  </div>
  <div class="field">
    <%= f.label :innings_pitched %><br>
    <%= f.number_field :innings_pitched %>
  </div>
  <div class="field">
    <%= f.label :hits_allowed %><br>
    <%= f.number_field :hits_allowed %>
  </div>
  <div class="field">
    <%= f.label :runs_allowed %><br>
    <%= f.number_field :runs_allowed %>
  </div>
  <div class="field">
    <%= f.label :strikeouts %><br>
    <%= f.number_field :strikeouts %>
  </div>
  <div class="field">
    <%= f.label :walks_allowed %><br>
    <%= f.number_field :walks_allowed %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
