<div class="info">
  <%= render 'shared/avatar', user: relief_pitcher_stat.user %>
  <h4 class="name"><%= relief_pitcher_stat.user.name %></h4>
  <span class="action">created an <%= link_to 'relief_pitcher_stat', relief_pitcher_stat %></span>
</div>
<div class="content">
  <h3><%= relief_pitcher_stat.event %></h3>
  <span class="text">
    
<p>
  <strong>Games started:</strong>
  <%= relief_pitcher_stat.games_started %>
</p>

<p>
  <strong>Games played:</strong>
  <%= relief_pitcher_stat.games_played %>
</p>

<p>
  <strong>Win:</strong>
  <%= relief_pitcher_stat.win %>
</p>

<p>
  <strong>Loss:</strong>
  <%= relief_pitcher_stat.loss %>
</p>

<p>
  <strong>Wins:</strong>
  <%= relief_pitcher_stat.wins %>
</p>

<p>
  <strong>Losses:</strong>
  <%= relief_pitcher_stat.losses %>
</p>

<p>
  <strong>Pitcher win:</strong>
  <%= relief_pitcher_stat.pitcher_win %>
</p>

<p>
  <strong>Pitcher loss:</strong>
  <%= relief_pitcher_stat.pitcher_loss %>
</p>

<p>
  <strong>Pitcher wins:</strong>
  <%= relief_pitcher_stat.pitcher_wins %>
</p>

<p>
  <strong>Pitcher losses:</strong>
  <%= relief_pitcher_stat.pitcher_losses %>
</p>

<p>
  <strong>Pitcher no decision:</strong>
  <%= relief_pitcher_stat.pitcher_no_decision %>
</p>

<p>
  <strong>Pitcher no decisions:</strong>
  <%= relief_pitcher_stat.pitcher_no_decisions %>
</p>

<p>
  <strong>Pitcher saves:</strong>
  <%= relief_pitcher_stat.pitcher_saves %>
</p>

<p>
  <strong>Innings pitched:</strong>
  <%= relief_pitcher_stat.innings_pitched %>
</p>

<p>
  <strong>Hits allowed:</strong>
  <%= relief_pitcher_stat.hits_allowed %>
</p>

<p>
  <strong>Runs allowed:</strong>
  <%= relief_pitcher_stat.runs_allowed %>
</p>

<p>
  <strong>Strikeouts:</strong>
  <%= relief_pitcher_stat.strikeouts %>
</p>

<p>
  <strong>Walks allowed:</strong>
  <%= relief_pitcher_stat.walks_allowed %>
</p>
    
  </span>
  <%= render 'shared/created_at', activity: relief_pitcher_stat %>
  <div class="points">
    <span class="like-count"><%= pluralize(relief_pitcher_stat.cached_votes_up, 'like') %></span>
    <span class="comment-count"><%= pluralize(relief_pitcher_stat.comments_count, 'comment') %></span>
    <div class="pull-right">
      <% if belongs_to_user?(relief_pitcher_stat) %>
        <%= form_tag relief_pitcher_stat_path(relief_pitcher_stat), method: :delete, remote: remote do %>
          <% button_tag class: 'btn btn-danger btn-sm' do %>
            <%= fa_icon 'trash' %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<%= render 'shared/actions', resource: relief_pitcher_stat %>