<div class="info">
  <%= render 'shared/avatar', user: relief_pitcher_stat.user %>
  <h4 class="name"><%= relief_pitcher_stat.user.name %></h4>
  <span class="action">created an <%= link_to 'relief_pitcher_stat', relief_pitcher_stat %></span>
</div>
<div class="content">
  <h3><%= relief_pitcher_stat.event %></h3>
  <span class="text">
    
<p>
  <strong>Win:
  <%= relief_pitcher_stat.win %>
</p>

<p>
  <strong>Pitcher win:
  <%= relief_pitcher_stat.pitcher_win %>
</p>

<p>
  <strong>Pitcher loss:
  <%= relief_pitcher_stat.pitcher_loss %>
</p>

<p>
  <strong>Pitcher wins:
  <%= relief_pitcher_stat.pitcher_wins %>
</p>

<p>
  <strong>Pitcher losses:
  <%= relief_pitcher_stat.pitcher_losses %>
</p>

<p>
  <strong>Pitcher no decision:
  <%= relief_pitcher_stat.pitcher_no_decision %>
</p>

<p>
  <strong>Pitcher no decisions:
  <%= relief_pitcher_stat.pitcher_no_decisions %>
</p>

<p>
  <strong>Pitcher saves:
  <%= relief_pitcher_stat.pitcher_saves %>
</p>

<p>
  <strong>Innings pitched:
  <%= relief_pitcher_stat.innings_pitched %>
</p>

<p>
  <strong>Hits allowed:
  <%= relief_pitcher_stat.hits_allowed %>
</p>

<p>
  <strong>Runs allowed:
  <%= relief_pitcher_stat.runs_allowed %>
</p>

<p>
  <strong>Strikeouts:
  <%= relief_pitcher_stat.strikeouts %>
</p>

<p>
  <strong>Walks allowed:
  <%= relief_pitcher_stat.walks_allowed %>
</p>
    
  </span>
  <%= render 'shared/created_at', activity: relief_pitcher_stat %>
  <div class="points">
    <span class="like-count"><%= pluralize(relief_pitcher_stat.cached_votes_up, 'like') %></span>
    <span class="comment-count"><%= pluralize(relief_pitcher_stat.comments_count, 'comment') %></span>
    <div class="pull-right">
      <% if belongs_to_user?(relief_pitcher_stat) %>
        <%= form_tag relief_pitcher_stat_path(relief_pitcher_stat), method: :delete, remote: remote do %>
          <% button_tag class: 'btn btn-danger btn-sm' do %>
            <%= fa_icon 'trash' %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<%= render 'shared/actions', resource: relief_pitcher_stat %>