<div id="event-<%= @relief_pitcher_stat.id %>" class="event">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 well">
      <div class="info">
  <%= render 'shared/avatar', user: @relief_pitcher_stat.user %>
  <h4 class="name"><%= @relief_pitcher_stat.user.name %></h4>
  <span class="action">created a <%= link_to 'Starting Pitcher ', @relief_pitcher_stat %>stat</span>
</div>
<div class="content">
  <h3><%= @relief_pitcher_stat.event %></h3>
  <span class="text">


<p>
  <strong>Win:</strong>
  <%= @relief_pitcher_stat.win %>
</p>

<p>
 Score:
  <%= @relief_pitcher_stat.score %> - <%= @relief_pitcher_stat.opponent_score %>
</p>

    <% if @relief_pitcher_stat.pitcher_win.present? %>
<p>
  <strong>Pitcher win:</strong>
  <%= @relief_pitcher_stat.pitcher_win %>
</p>
    <% end %>
    <% if @relief_pitcher_stat.pitcher_no_decision.present? %>
<p>
  <strong>Pitcher no decision:</strong>
  <%= @relief_pitcher_stat.pitcher_no_decision %>
</p>
    <% end %>
    <% if @relief_pitcher_stat.pitcher_saves.present? %>
<p>
  <strong>Pitcher saves:</strong>
  <%= @relief_pitcher_stat.pitcher_saves %>
</p>
    <% end %>
    <% if @relief_pitcher_stat.innings_pitched.present? %>
<p>
  <strong>Innings pitched:</strong>
  <%= @relief_pitcher_stat.innings_pitched %>
</p>
    <% end %>
    <% if @relief_pitcher_stat.hits_allowed.present? %>
<p>
  <strong>Hits allowed:</strong>
  <%= @relief_pitcher_stat.hits_allowed %>
</p>
    <% end %>
    <% if @relief_pitcher_stat.runs_allowed.present? %>
<p>
  <strong>Runs allowed:</strong>
  <%= @relief_pitcher_stat.runs_allowed %>
</p>
    <% end %>
    <% if @relief_pitcher_stat.strikeouts.present? %>
<p>
  <strong>Strikeouts:</strong>
  <%= @relief_pitcher_stat.strikeouts %>
</p>
    <% end %>
    <% if @relief_pitcher_stat.walks_allowed.present? %>
<p>
  <strong>Walks allowed:</strong>
  <%= @relief_pitcher_stat.walks_allowed %>
</p>
    <% end %>

  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 well">
      <h4>Comments</h4>
      <hr>
      <%= render 'comments/form', commentable: @relief_pitcher_stat %>
      <br>
      <div class="comments">
        <%= render(@comments) || render('shared/no_resource', resources: 'Comments') %>
      </div>
    </div>
  </div>
</div>