<div class="info">
  <%= render 'shared/avatar', user: line_backer_stat.user %>
  <h4 class="name"><%= line_backer_stat.user.name %></h4>
  <span class="action">created an <%= link_to 'line_backer_stat', line_backer_stat %></span>
</div>
<div class="content">
  <h3><%= line_backer_stat.event %></h3>
  <span class="text">
   
<p>
  Win:
  <%= line_backer_stat.win %>
</p>

<p>
  Tackles:
  <%= line_backer_stat.tackles %>
</p>

<p>
  Sacks:
  <%= line_backer_stat.sacks %>
</p>

<p>
  Fumbles:
  <%= line_backer_stat.fumbles %>
</p>

<p>
  Interception:
  <%= line_backer_stat.interception %>
</p>


   
  </span>
  <%= render 'shared/created_at', activity: line_backer_stat %>
  <div class="points">
    <span class="like-count"><%= pluralize(line_backer_stat.cached_votes_up, 'like') %></span>
    <span class="comment-count"><%= pluralize(line_backer_stat.comments_count, 'comment') %></span>
    <div class="pull-right">
      <% if belongs_to_user?(line_backer_stat) %>
        <%= form_tag line_backer_stat_path(line_backer_stat), method: :delete, remote: remote do %>
          <% button_tag class: 'btn btn-danger btn-sm' do %>
            <%= fa_icon 'trash' %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<%= render 'shared/actions', resource: line_backer_stat %>