<div class="row">
<div class="col-lg-12 well">
<p id="notice"><%= notice %></p>

<h1>Listing Line Backer Stats</h1>

<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>Event</th>
      <th>Win</th>
      <th>Score</th>
      <th>Tackles</th>
      <th>Sacks</th>
      <th>Fumbles</th>
      <th>Interception</th>
      <th>Athlete</th>
    </tr>
  </thead>

  <tbody>
    <% @line_backer_stats.each do |line_backer_stat| %>
      <tr>
        <td><%= line_backer_stat.event %></td>
        <td><%= line_backer_stat.win ? 'Yes' : 'No' %></td>
        <td><%= line_backer_stat.score %> - <%= line_backer_stat.opponent_score %></td>
        <td><%= line_backer_stat.tackles %></td>
        <td><%= line_backer_stat.sacks %></td>
        <td><%= line_backer_stat.fumbles %></td>
        <td><%= line_backer_stat.interception %></td>
        <td><%= line_backer_stat.user.try(:name) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>