<p id="notice"><%= notice %></p>

<p>
  <strong>Position name:</strong>
  <%= @line_backer_stat.position_name %>
</p>

<p>
  <strong>Shorthand:</strong>
  <%= @line_backer_stat.shorthand %>
</p>

<p>
  <strong>Sport:</strong>
  <%= @line_backer_stat.sport_id %>
</p>

<p>
  <strong>Position:</strong>
  <%= @line_backer_stat.position_id %>
</p>

<p>
  <strong>Sport name:</strong>
  <%= @line_backer_stat.sport_name %>
</p>

<p>
  <strong>Event:</strong>
  <%= @line_backer_stat.event %>
</p>

<p>
  <strong>Win:</strong>
  <%= @line_backer_stat.win %>
</p>

<p>
  <strong>Loss:</strong>
  <%= @line_backer_stat.loss %>
</p>

<p>
  <strong>Wins:</strong>
  <%= @line_backer_stat.wins %>
</p>

<p>
  <strong>Losses:</strong>
  <%= @line_backer_stat.losses %>
</p>

<p>
  <strong>Tackles:</strong>
  <%= @line_backer_stat.tackles %>
</p>

<p>
  <strong>Sacks:</strong>
  <%= @line_backer_stat.sacks %>
</p>

<p>
  <strong>Fumbles:</strong>
  <%= @line_backer_stat.fumbles %>
</p>

<p>
  <strong>Interception:</strong>
  <%= @line_backer_stat.interception %>
</p>

<p>
  <strong>User:</strong>
  <%= @line_backer_stat.user %>
</p>

<p>
  <strong>Stat:</strong>
  <%= @line_backer_stat.stat %>
</p>

<p>
  <strong>Sport:</strong>
  <%= @line_backer_stat.sport %>
</p>

<p>
  <strong>Position:</strong>
  <%= @line_backer_stat.position %>
</p>

<%= link_to 'Edit', edit_line_backer_stat_path(@line_backer_stat) %> |
<%= link_to 'Back', line_backer_stats_path %>
