<div id="event-<%= @line_backer_stat.id %>" class="event">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 well">
      <%= render @line_backer_stat, remote: false %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 well">
      <h4>Comments</h4>
      <hr>
      <%= render 'comments/form', commentable: @line_backer_stat %>
      <br>
      <div class="comments">
        <%= render(@comments) || render('shared/no_resource', resources: 'Comments') %>
      </div>
    </div>
  </div>
</div>



<p>
  <strong>Event:</strong>
  <%= @line_backer_stat.event %>
</p>

<p>
  <strong>Win:</strong>
  <%= @line_backer_stat.win %>
</p>

<p>
  <strong>Tackles:</strong>
  <%= @line_backer_stat.tackles %>
</p>

<p>
  <strong>Sacks:</strong>
  <%= @line_backer_stat.sacks %>
</p>

<p>
  <strong>Fumbles:</strong>
  <%= @line_backer_stat.fumbles %>
</p>

<p>
  <strong>Interception:</strong>
  <%= @line_backer_stat.interception %>
</p>
