<div class="info">
  <%= render 'shared/avatar', user: starting_pitcher_stat.user %>
  <h4 class="name"><%= starting_pitcher_stat.user.name %></h4>
  <span class="action">created an <%= link_to 'starting_pitcher_stat', starting_pitcher_stat %></span>
</div>
<div class="content">
  <h3><%= starting_pitcher_stat.event %></h3>
  <span class="text">


<!-- <h6>
  Games started:
  <%= starting_pitcher_stat.games_started %>
</h6>

<p>
  Games played:
  <%= starting_pitcher_stat.games_played %>
</p> -->

<p class="stat-display">
  Win:
  <%= starting_pitcher_stat.win %>
</p>

<!-- <p>
  Loss:
  <%= starting_pitcher_stat.loss %>
</p>

<p>
  Wins:
  <%= starting_pitcher_stat.wins %>
</p>

<p>
  Losses:
  <%= starting_pitcher_stat.losses %>
</p> -->

<p>
  pitcher win:
  <%= starting_pitcher_stat.pitcher_win %>
</p>

<!-- <p>
  pitcher loss:
  <%= starting_pitcher_stat.pitcher_loss %>
</p>

<p>
  pitcher wins:
  <%= starting_pitcher_stat.pitcher_wins %>
</p>

<p>
  pitcher losses:
  <%= starting_pitcher_stat.pitcher_losses %>
</p> -->

<p>
  pitcher no decision:
  <%= starting_pitcher_stat.pitcher_no_decision %>
</p>

<!-- <p>
  pitcher no decisions:
  <%= starting_pitcher_stat.pitcher_no_decisions %>
</p> -->

<p>
  pitcher saves:
  <%= starting_pitcher_stat.pitcher_saves %>
</p>

<p>
  Innings pitched:
  <%= starting_pitcher_stat.innings_pitched %>
</p>

<p>
  Hits allowed:
  <%= starting_pitcher_stat.hits_allowed %>
</p>

<p>
  Runs allowed:
  <%= starting_pitcher_stat.runs_allowed %>
</p>

<p>
  Strikeouts:
  <%= starting_pitcher_stat.strikeouts %>
</p>

<p>
  Walks allowed:
  <%= starting_pitcher_stat.walks_allowed %>
</p>





  </span>
  <%= render 'shared/created_at', activity: starting_pitcher_stat %>
  <div class="points">
    <span class="like-count"><%= pluralize(starting_pitcher_stat.cached_votes_up, 'like') %></span>
    <span class="comment-count"><%= pluralize(starting_pitcher_stat.comments_count, 'comment') %></span>

    <div class="pull-right">
      <% if belongs_to_user?(starting_pitcher_stat) %>
        <%= form_tag starting_pitcher_stat_path(starting_pitcher_stat), method: :delete, remote: remote do %>
          <% button_tag class: 'btn btn-danger btn-sm' do %>
            <%= fa_icon 'trash' %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<%= render 'shared/actions', resource: starting_pitcher_stat %>