<div class="info">
  <%= render 'shared/avatar', user: starting_pitcher_stat.user %>
  <h4 class="name"><%= starting_pitcher_stat.user.name %></h4>
  <span class="action">created an <%= link_to 'starting_pitcher_stat', starting_pitcher_stat %></span>
</div>
<div class="content">
  <h3><%= starting_pitcher_stat.event %></h3>
  <span class="text">


<table>
  <thead>
    <tr>
      <th>Position name</th>
      <th>Shorthand</th>
      <th>Sport</th>
      <th>Position</th>
      <th>Sport name</th>
      <th>Event</th>
      <th>Games started</th>
      <th>Games played</th>
      <th>Win</th>
      <th>Loss</th>
      <th>Wins</th>
      <th>Losses</th>
      <th>Pitcher win</th>
      <th>Pitcher loss</th>
      <th>Pitcher wins</th>
      <th>Pitcher losses</th>
      <th>Pitcher no decision</th>
      <th>Pitcher no decisions</th>
      <th>Pitcher saves</th>
      <th>Innings pitched</th>
      <th>Hits allowed</th>
      <th>Runs allowed</th>
      <th>Strikeouts</th>
      <th>Walks allowed</th>
      <th>User</th>
      <th>Stat</th>
      <th>Sport</th>
      <th>Position</th>
    </tr>
  </thead>

  <tbody>
    <% @starting_pitcher_stats.each do |starting_pitcher_stat| %>
      <tr>
        <td><%= starting_pitcher_stat.position_name %></td>
        <td><%= starting_pitcher_stat.shorthand %></td>
        <td><%= starting_pitcher_stat.sport_id %></td>
        <td><%= starting_pitcher_stat.position_id %></td>
        <td><%= starting_pitcher_stat.sport_name %></td>
        <td><%= starting_pitcher_stat.event %></td>
        <td><%= starting_pitcher_stat.games_started %></td>
        <td><%= starting_pitcher_stat.games_played %></td>
        <td><%= starting_pitcher_stat.win %></td>
        <td><%= starting_pitcher_stat.loss %></td>
        <td><%= starting_pitcher_stat.wins %></td>
        <td><%= starting_pitcher_stat.losses %></td>
        <td><%= starting_pitcher_stat.pitcher_win %></td>
        <td><%= starting_pitcher_stat.pitcher_loss %></td>
        <td><%= starting_pitcher_stat.pitcher_wins %></td>
        <td><%= starting_pitcher_stat.pitcher_losses %></td>
        <td><%= starting_pitcher_stat.pitcher_no_decision %></td>
        <td><%= starting_pitcher_stat.pitcher_no_decisions %></td>
        <td><%= starting_pitcher_stat.pitcher_saves %></td>
        <td><%= starting_pitcher_stat.innings_pitched %></td>
        <td><%= starting_pitcher_stat.hits_allowed %></td>
        <td><%= starting_pitcher_stat.runs_allowed %></td>
        <td><%= starting_pitcher_stat.strikeouts %></td>
        <td><%= starting_pitcher_stat.walks_allowed %></td>
        <td><%= starting_pitcher_stat.user %></td>
        <td><%= starting_pitcher_stat.stat %></td>
        <td><%= starting_pitcher_stat.sport %></td>
        <td><%= starting_pitcher_stat.position %></td>
      </tr>
    <% end %>
  </tbody>
</table>

  </span>
  <%= render 'shared/created_at', activity: starting_pitcher_stat %>
  <div class="points">
    <span class="like-count"><%= pluralize(starting_pitcher_stat.cached_votes_up, 'like') %></span>
    <span class="comment-count"><%= pluralize(starting_pitcher_stat.comments_count, 'comment') %></span>

    <div class="pull-right">
      <% if belongs_to_user?(starting_pitcher_stat) %>
        <%= form_tag starting_pitcher_stat_path(starting_pitcher_stat), method: :delete, remote: remote do %>
          <% button_tag class: 'btn btn-danger btn-sm' do %>
            <%= fa_icon 'trash' %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<%= render 'shared/actions', resource: starting_pitcher_stat %>