<p id="notice"><%= notice %></p>

<p>
  <strong>Position name:</strong>
  <%= @starting_pitcher_stat.position_name %>
</p>

<p>
  <strong>Shorthand:</strong>
  <%= @starting_pitcher_stat.shorthand %>
</p>

<p>
  <strong>Sport:</strong>
  <%= @starting_pitcher_stat.sport_id %>
</p>

<p>
  <strong>Position:</strong>
  <%= @starting_pitcher_stat.position_id %>
</p>

<p>
  <strong>Sport name:</strong>
  <%= @starting_pitcher_stat.sport_name %>
</p>

<p>
  <strong>Event:</strong>
  <%= @starting_pitcher_stat.event %>
</p>

<p>
  <strong>Games started:</strong>
  <%= @starting_pitcher_stat.games_started %>
</p>

<p>
  <strong>Games played:</strong>
  <%= @starting_pitcher_stat.games_played %>
</p>

<p>
  <strong>Win:</strong>
  <%= @starting_pitcher_stat.win %>
</p>

<p>
  <strong>Loss:</strong>
  <%= @starting_pitcher_stat.loss %>
</p>

<p>
  <strong>Wins:</strong>
  <%= @starting_pitcher_stat.wins %>
</p>

<p>
  <strong>Losses:</strong>
  <%= @starting_pitcher_stat.losses %>
</p>

<p>
  <strong>Pitcher win:</strong>
  <%= @starting_pitcher_stat.pitcher_win %>
</p>

<p>
  <strong>Pitcher loss:</strong>
  <%= @starting_pitcher_stat.pitcher_loss %>
</p>

<p>
  <strong>Pitcher wins:</strong>
  <%= @starting_pitcher_stat.pitcher_wins %>
</p>

<p>
  <strong>Pitcher losses:</strong>
  <%= @starting_pitcher_stat.pitcher_losses %>
</p>

<p>
  <strong>Pitcher no decision:</strong>
  <%= @starting_pitcher_stat.pitcher_no_decision %>
</p>

<p>
  <strong>Pitcher no decisions:</strong>
  <%= @starting_pitcher_stat.pitcher_no_decisions %>
</p>

<p>
  <strong>Pitcher saves:</strong>
  <%= @starting_pitcher_stat.pitcher_saves %>
</p>

<p>
  <strong>Innings pitched:</strong>
  <%= @starting_pitcher_stat.innings_pitched %>
</p>

<p>
  <strong>Hits allowed:</strong>
  <%= @starting_pitcher_stat.hits_allowed %>
</p>

<p>
  <strong>Runs allowed:</strong>
  <%= @starting_pitcher_stat.runs_allowed %>
</p>

<p>
  <strong>Strikeouts:</strong>
  <%= @starting_pitcher_stat.strikeouts %>
</p>

<p>
  <strong>Walks allowed:</strong>
  <%= @starting_pitcher_stat.walks_allowed %>
</p>

<p>
  <strong>User:</strong>
  <%= @starting_pitcher_stat.user %>
</p>

<p>
  <strong>Stat:</strong>
  <%= @starting_pitcher_stat.stat %>
</p>

<p>
  <strong>Sport:</strong>
  <%= @starting_pitcher_stat.sport %>
</p>

<p>
  <strong>Position:</strong>
  <%= @starting_pitcher_stat.position %>
</p>

<%= link_to 'Edit', edit_starting_pitcher_stat_path(@starting_pitcher_stat) %> |
<%= link_to 'Back', starting_pitcher_stats_path %>
