<div id="event-<%= @starting_pitcher_stat.id %>" class="event">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 well">
      <!--<%= render @starting_pitcher_stat, remote: false %>-->
      <div class="info">
  <%= render 'shared/avatar', user: @starting_pitcher_stat.user %>
  <h4 class="name"><%= @starting_pitcher_stat.user.name %></h4>
  <span class="action">created a <%= link_to 'Starting Pitcher ', @starting_pitcher_stat %>stat</span>
</div>
<div class="content">
  <h3><%= @starting_pitcher_stat.event %></h3>
  <span class="text">
     <p>
      Win:
      <%= @starting_pitcher_stat.win ? 'Yes' : 'No'  %>
    </p>
    <p>
     score:
      <%= @starting_pitcher_stat.score %> - <%= @starting_pitcher_stat.opponent_score %>
    </p>
    <p>
      pitcher no decision:
      <%= @starting_pitcher_stat.opponent_score %>
    </p>
    <p>
      pitcher saves:
      <%= @starting_pitcher_stat.pitcher_saves %>
    </p>
    <p>
      Innings pitched:
      <%= @starting_pitcher_stat.innings_pitched %>
    </p>
    <p>
      Hits allowed:
      <%= @starting_pitcher_stat.hits_allowed %>
    </p>
    <p>
      Runs allowed:
      <%= @starting_pitcher_stat.runs_allowed %>
    </p>
    <p>
      Strikeouts:
      <%= @starting_pitcher_stat.strikeouts %>
    </p>
    <p>
      Walks allowed:
      <%= @starting_pitcher_stat.walks_allowed %>
    </p>
  </span>  
    </div>
  </div>

  <!-- <%= render 'shared/created_at', activity: @starting_pitcher_stat %>
  <div class="points">
    <span class="like-count"><%= pluralize(@starting_pitcher_stat.cached_votes_up, 'like') %></span>
    <span class="comment-count"><%= pluralize(@starting_pitcher_stat.comments_count, 'comment') %></span>

  <!--   <div class="pull-right">
      <% if belongs_to_user?(@starting_pitcher_stat) %>
        <%= form_tag @starting_pitcher_stat_path, method: :delete %>
          <% button_tag class: 'btn btn-danger btn-sm' do %>
            <%= fa_icon 'trash' %>
          <% end %>
        <% end %>
    </div>
  </div>
</div> -->


  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 well">
      <h4>Comments</h4>
      <hr>
      <%= render 'comments/form', commentable: @starting_pitcher_stat %>
      <br>
      <div class="comments">
        <%= render(@comments) || render('shared/no_resource', resources: 'Comments') %>
      </div>
    </div>
  </div>
</div>