<div class="row">
<div class="col-lg-12 well">
<p id="notice"><%= notice %></p>

<h1>Listing Point Guard Stats</h1>

<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>Event</th>
      <!-- <th>Games started</th>-->
      <th>Win</th>
      <th>Score</th>
      <th>Minutes played</th>
      <th>Fieldgoals made</th>
      <th>Fieldgoal attemps</th>
      <th>Threepoints made</th>
      <th>Threepoint attemps</th>
      <th>Freethrows made</th>
      <th>Freethrow attemps</th>
      <th>Rebounds</th>
      <th>Assists</th>
      <th>Steals</th>
      <th>Blocks</th>
      <th>Points</th>
      <th>Athlete</th>
    </tr>
  </thead>

  <tbody>
    <% @point_guard_stats.each do |point_guard_stat| %>
      <tr>
        <td><%= point_guard_stat.event %></td>
        <!-- <td><%= point_guard_stat.games_started %></td> -->
        <td><%= point_guard_stat.win ? 'Yes' : 'No' %></td>
        <td><%= point_guard_stat.score %> - <%= point_guard_stat.opponent_score %></td>
        <td><%= point_guard_stat.minutes_played %></td>
        <td><%= point_guard_stat.fieldgoals_made %></td>
        <td><%= point_guard_stat.fieldgoal_attemps %></td>
        <td><%= point_guard_stat.threepoints_made %></td>
        <td><%= point_guard_stat.threepoint_attemps %></td>
        <td><%= point_guard_stat.freethrows_made %></td>
        <td><%= point_guard_stat.freethrow_attemps %></td>
        <td><%= point_guard_stat.rebounds %></td>
        <td><%= point_guard_stat.assists %></td>
        <td><%= point_guard_stat.steals %></td>
        <td><%= point_guard_stat.blocks %></td>
        <td><%= point_guard_stat.points %></td>
        <td><%= point_guard_stat.user.try(:name) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>
<!-- <br>

<%= link_to 'New Point guard stat', new_point_guard_stat_path %> -->
