<div id="event-<%= @point_guard_stat.id %>" class="event">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 well">
      <%= render @point_guard_stat, remote: false %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 well">
      <h4>Comments</h4>
      <hr>
      <%= render 'comments/form', commentable: @point_guard_stat %>
      <br>
      <div class="comments">
        <%= render(@comments) || render('shared/no_resource', resources: 'Comments') %>
      </div>
    </div>
  </div>
</div>


<p>
  <strong>Event:</strong>
  <%= @point_guard_stat.event %>
</p>

<p>
  <strong>Win:</strong>
  <%= @point_guard_stat.win %>
</p>

<p>
  <strong>Minutes played:</strong>
  <%= @point_guard_stat.minutes_played %>
</p>

<p>
  <strong>Fieldgoals made:</strong>
  <%= @point_guard_stat.fieldgoals_made %>
</p>

<p>
  <strong>Fieldgoal attemps:</strong>
  <%= @point_guard_stat.fieldgoal_attemps %>
</p>

<p>
  <strong>Threepoints made:</strong>
  <%= @point_guard_stat.threepoints_made %>
</p>

<p>
  <strong>Threepoint attemps:</strong>
  <%= @point_guard_stat.threepoint_attemps %>
</p>

<p>
  <strong>Freethrows made:</strong>
  <%= @point_guard_stat.freethrows_made %>
</p>

<p>
  <strong>Freethrow attemps:</strong>
  <%= @point_guard_stat.freethrow_attemps %>
</p>

<p>
  <strong>Rebounds:</strong>
  <%= @point_guard_stat.rebounds %>
</p>

<p>
  <strong>Assists:</strong>
  <%= @point_guard_stat.assists %>
</p>

<p>
  <strong>Steals:</strong>
  <%= @point_guard_stat.steals %>
</p>

<p>
  <strong>Blocks:</strong>
  <%= @point_guard_stat.blocks %>
</p>

<p>
  <strong>Points:</strong>
  <%= @point_guard_stat.points %>
</p>
