<div class="info">
  <%= render 'shared/avatar', user: center_stat.user %>
  <h4 class="name"><%= center_stat.user.name %></h4>
  <span class="action">created an <%= link_to 'center_stat', center_stat %></span>
</div>
<div class="content">
  <h3><%= center_stat.event %></h3>
  <span class="text">
    
<p>
  <strong>Win:</strong>
  <%= center_stat.win %>
</p>

<p>
  <strong>Loss:</strong>
  <%= center_stat.loss %>
</p>

<p>
  <strong>Wins:</strong>
  <%= center_stat.wins %>
</p>

<p>
  <strong>Losses:</strong>
  <%= center_stat.losses %>
</p>

<p>
  <strong>Minutes played:</strong>
  <%= center_stat.minutes_played %>
</p>

<p>
  <strong>Fieldgoals made:</strong>
  <%= center_stat.fieldgoals_made %>
</p>

<p>
  <strong>Fieldgoal attemps:</strong>
  <%= center_stat.fieldgoal_attemps %>
</p>

<p>
  <strong>Threepoints made:</strong>
  <%= center_stat.threepoints_made %>
</p>

<p>
  <strong>Threepoint attemps:</strong>
  <%= center_stat.threepoint_attemps %>
</p>

<p>
  <strong>Freethrows made:</strong>
  <%= center_stat.freethrows_made %>
</p>

<p>
  <strong>Freethrow attemps:</strong>
  <%= center_stat.freethrow_attemps %>
</p>

<p>
  <strong>Rebounds:</strong>
  <%= center_stat.rebounds %>
</p>

<p>
  <strong>Assists:</strong>
  <%= center_stat.assists %>
</p>

<p>
  <strong>Steals:</strong>
  <%= center_stat.steals %>
</p>

<p>
  <strong>Blocks:</strong>
  <%= center_stat.blocks %>
</p>

<p>
  <strong>Points:</strong>
  <%= center_stat.points %>
</p>




  </span>
  <%= render 'shared/created_at', activity: center_stat %>
  <div class="points">
    <span class="like-count"><%= pluralize(center_stat.cached_votes_up, 'like') %></span>
    <span class="comment-count"><%= pluralize(center_stat.comments_count, 'comment') %></span>
    <div class="pull-right">
      <% if belongs_to_user?(center_stat) %>
        <%= form_tag center_stat_path(center_stat), method: :delete, remote: remote do %>
          <% button_tag class: 'btn btn-danger btn-sm' do %>
            <%= fa_icon 'trash' %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<%= render 'shared/actions', resource: center_stat %>