<div class="info">
  <%= render 'shared/avatar', user: center_fielder_stat.user %>
  <h4 class="name"><%= center_fielder_stat.user.name %></h4>
  <span class="action">created an <%= link_to 'center_fielder_stat', center_fielder_stat %></span>
</div>
<div class="content">
  <h3><%= center_fielder_stat.event %></h3>
  <span class="text">
    
    <p>
  <strong>Win:
  <%= center_fielder_stat.win %>
</p>

<p>
  <strong>Plate appearances:
  <%= center_fielder_stat.plate_appearances %>
</p>

<p>
  <strong>At bats:
  <%= center_fielder_stat.at_bats %>
</p>

<p>
  <strong>Hits:
  <%= center_fielder_stat.hits %>
</p>

<p>
  <strong>Runs scored:
  <%= center_fielder_stat.runs_scored %>
</p>

<p>
  <strong>Runs batted in:
  <%= center_fielder_stat.runs_batted_in %>
</p>

<p>
  <strong>Walks:
  <%= center_fielder_stat.walks %>
</p>

<p>
  <strong>Strike outs:
  <%= center_fielder_stat.strike_outs %>
</p>

<p>
  <strong>Stolen bases:
  <%= center_fielder_stat.stolen_bases %>
</p>

<p>
  <strong>Doubles:
  <%= center_fielder_stat.doubles %>
</p>

<p>
  <strong>Triples:
  <%= center_fielder_stat.triples %>
</p>

<p>
  <strong>Home runs:
  <%= center_fielder_stat.home_runs %>
</p>




  </span>
  <%= render 'shared/created_at', activity: center_fielder_stat %>
  <div class="points">
    <span class="like-count"><%= pluralize(center_fielder_stat.cached_votes_up, 'like') %></span>
    <span class="comment-count"><%= pluralize(center_fielder_stat.comments_count, 'comment') %></span>
    <div class="pull-right">
      <% if belongs_to_user?(center_fielder_stat) %>
        <%= form_tag center_fielder_stat_path(center_fielder_stat), method: :delete, remote: remote do %>
          <% button_tag class: 'btn btn-danger btn-sm' do %>
            <%= fa_icon 'trash' %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<%= render 'shared/actions', resource: center_fielder_stat %>