<div id="event-<%= @center_fielder_stat.id %>" class="event">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 well">
      <div class="info">
  <%= render 'shared/avatar', user: @center_fielder_stat.user %>
  <h4 class="name"><%= @center_fielder_stat.user.name %></h4>
  <span class="action">created a <%= link_to 'Starting Pitcher ', @center_fielder_stat %>stat</span>
</div>
<div class="content">
  <h3><%= @center_fielder_stat.event %></h3>
  <span class="text">
<!-- <p>
  <strong>Games started:</strong>
  <%= @center_fielder_stat.games_started %>
</p>
 -->


<p>
  <strong>Win:</strong>
  <%= @center_fielder_stat.win %>
</p>


<p>
  <strong>Plate appearances:</strong>
  <%= @center_fielder_stat.plate_appearances %>
</p>

<p>
  <strong>At bats:</strong>
  <%= @center_fielder_stat.at_bats %>
</p>

<p>
  <strong>Hits:</strong>
  <%= @center_fielder_stat.hits %>
</p>

<p>
  <strong>Runs scored:</strong>
  <%= @center_fielder_stat.runs_scored %>
</p>

<p>
  <strong>Runs batted in:</strong>
  <%= @center_fielder_stat.runs_batted_in %>
</p>

<p>
  <strong>Walks:</strong>
  <%= @center_fielder_stat.walks %>
</p>

<p>
  <strong>Strike outs:</strong>
  <%= @center_fielder_stat.strike_outs %>
</p>

<p>
  <strong>Stolen bases:</strong>
  <%= @center_fielder_stat.stolen_bases %>
</p>

<p>
  <strong>Doubles:</strong>
  <%= @center_fielder_stat.doubles %>
</p>

<p>
  <strong>Triples:</strong>
  <%= @center_fielder_stat.triples %>
</p>

<p>
  <strong>Home runs:</strong>
  <%= @center_fielder_stat.home_runs %>
</p>

  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 well">
      <h4>Comments</h4>
      <hr>
      <%= render 'comments/form', commentable: @center_fielder_stat %>
      <br>
      <div class="comments">
        <%= render(@comments) || render('shared/no_resource', resources: 'Comments') %>
      </div>
    </div>
  </div>
</div>