<div class="info">
  <%= render 'shared/avatar', user: shortstop_stat.user %>
  <h4 class="name"><%= shortstop_stat.user.name %></h4>
  <span class="action">created an <%= link_to 'shortstop_stat', shortstop_stat %></span>
</div>
<div class="content">
  <h3><%= shortstop_stat.event %></h3>
  <span class="text">
    
<p>
  Win:
  <%= shortstop_stat.win %>
</p>

<p>
  Plate appearances:
  <%= shortstop_stat.plate_appearances %>
</p>

<p>
  At bats:
  <%= shortstop_stat.at_bats %>
</p>

<p>
  Hits:
  <%= shortstop_stat.hits %>
</p>

<p>
  Runs scored:
  <%= shortstop_stat.runs_scored %>
</p>

<p>
  Runs batted in:
  <%= shortstop_stat.runs_batted_in %>
</p>

<p>
  Walks:
  <%= shortstop_stat.walks %>
</p>

<p>
  Strike outs:
  <%= shortstop_stat.strike_outs %>
</p>

<p>
  Stolen bases:
  <%= shortstop_stat.stolen_bases %>
</p>

<p>
  Doubles:
  <%= shortstop_stat.doubles %>
</p>

<p>
  Triples:
  <%= shortstop_stat.triples %>
</p>

<p>
  Home runs:
  <%= shortstop_stat.home_runs %>
</p>

    
  </span>
  <%= render 'shared/created_at', activity: shortstop_stat %>
  <div class="points">
    <span class="like-count"><%= pluralize(shortstop_stat.cached_votes_up, 'like') %></span>
    <span class="comment-count"><%= pluralize(shortstop_stat.comments_count, 'comment') %></span>
    <div class="pull-right">
      <% if belongs_to_user?(shortstop_stat) %>
        <%= form_tag shortstop_stat_path(shortstop_stat), method: :delete, remote: remote do %>
          <% button_tag class: 'btn btn-danger btn-sm' do %>
            <%= fa_icon 'trash' %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<%= render 'shared/actions', resource: shortstop_stat %>