<div id="event-<%= @first_baseman_stat.id %>" class="event">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 well">
      <div class="info">
  <%= render 'shared/avatar', user: @first_baseman_stat.user %>
  <h4 class="name"><%= @first_baseman_stat.user.name %></h4>
  <span class="action">created a <%= link_to 'Starting Pitcher ', @first_baseman_stat %>stat</span>
</div>
<div class="content">
  <h3><%= @first_baseman_stat.event %></h3>
  <span class="text">

<p>
  <strong>Win:</strong>
  <%= @first_baseman_stat.win %>
</p>

<p>
  <strong>Plate appearances:</strong>
  <%= @first_baseman_stat.plate_appearances %>
</p>

<p>
  <strong>At bats:</strong>
  <%= @first_baseman_stat.at_bats %>
</p>

<p>
  <strong>Hits:</strong>
  <%= @first_baseman_stat.hits %>
</p>

<p>
  <strong>Runs scored:</strong>
  <%= @first_baseman_stat.runs_scored %>
</p>

<p>
  <strong>Runs batted in:</strong>
  <%= @first_baseman_stat.runs_batted_in %>
</p>

<p>
  <strong>Walks:</strong>
  <%= @first_baseman_stat.walks %>
</p>

<p>
  <strong>Strike outs:</strong>
  <%= @first_baseman_stat.strike_outs %>
</p>

<p>
  <strong>Stolen bases:</strong>
  <%= @first_baseman_stat.stolen_bases %>
</p>

<p>
  <strong>Doubles:</strong>
  <%= @first_baseman_stat.doubles %>
</p>

<p>
  <strong>Triples:</strong>
  <%= @first_baseman_stat.triples %>
</p>

<p>
  <strong>Home runs:</strong>
  <%= @first_baseman_stat.home_runs %>
</p>

  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 well">
      <h4>Comments</h4>
      <hr>
      <%= render 'comments/form', commentable: @first_baseman_stat %>
      <br>
      <div class="comments">
        <%= render(@comments) || render('shared/no_resource', resources: 'Comments') %>
      </div>
    </div>
  </div>
</div>