<div class="info">
  <%= render 'shared/avatar', user: third_baseman_stat.user %>
  <h4 class="name"><%= third_baseman_stat.user.name %></h4>
  <span class="action">created an <%= link_to 'third_baseman_stat', third_baseman_stat %></span>
</div>
<div class="content">
  <h3><%= third_baseman_stat.event %></h3>
  <span class="text">

<p>
  <strong>Win:
  <%= third_baseman_stat.win %>
</p>

<p>
  <strong>Plate appearances:
  <%= third_baseman_stat.plate_appearances %>
</p>

<p>
  <strong>At bats:
  <%= third_baseman_stat.at_bats %>
</p>

<p>
  <strong>Hits:
  <%= third_baseman_stat.hits %>
</p>

<p>
  <strong>Runs scored:
  <%= third_baseman_stat.runs_scored %>
</p>

<p>
  <strong>Runs batted in:
  <%= third_baseman_stat.runs_batted_in %>
</p>

<p>
  <strong>Walks:
  <%= third_baseman_stat.walks %>
</p>

<p>
  <strong>Strike outs:
  <%= third_baseman_stat.strike_outs %>
</p>

<p>
  <strong>Stolen bases:
  <%= third_baseman_stat.stolen_bases %>
</p>

<p>
  <strong>Doubles:
  <%= third_baseman_stat.doubles %>
</p>

<p>
  <strong>Triples:
  <%= third_baseman_stat.triples %>
</p>

<p>
  <strong>Home runs:
  <%= third_baseman_stat.home_runs %>
</p>

    
  </span>
  <%= render 'shared/created_at', activity: third_baseman_stat %>
  <div class="points">
    <span class="like-count"><%= pluralize(third_baseman_stat.cached_votes_up, 'like') %></span>
    <span class="comment-count"><%= pluralize(third_baseman_stat.comments_count, 'comment') %></span>
    <div class="pull-right">
      <% if belongs_to_user?(third_baseman_stat) %>
        <%= form_tag third_baseman_stat_path(third_baseman_stat), method: :delete, remote: remote do %>
          <% button_tag class: 'btn btn-danger btn-sm' do %>
            <%= fa_icon 'trash' %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<%= render 'shared/actions', resource: third_baseman_stat %>