<div class="info">
  <%= render 'shared/avatar', user: goalkeeper_stat.user %>
  <h4 class="name"><%= goalkeeper_stat.user.name %></h4>
  <span class="action">created an <%= link_to 'goalkeeper_stat', goalkeeper_stat %></span>
</div>
<div class="content">
  <h3><%= goalkeeper_stat.event %></h3>
  <span class="text">
    

<p>
  <strong>Win:</strong>
  <%= goalkeeper_stat.win %>
</p>

<p>
  <strong>Saves:</strong>
  <%= goalkeeper_stat.saves %>
</p>

<p>
  <strong>Shots faced:</strong>
  <%= goalkeeper_stat.shots_faced %>
</p>

    
  </span>
  <%= render 'shared/created_at', activity: goalkeeper_stat %>
  <div class="points">
    <span class="like-count"><%= pluralize(goalkeeper_stat.cached_votes_up, 'like') %></span>
    <span class="comment-count"><%= pluralize(goalkeeper_stat.comments_count, 'comment') %></span>
    <div class="pull-right">
      <% if belongs_to_user?(goalkeeper_stat) %>
        <%= form_tag goalkeeper_stat_path(goalkeeper_stat), method: :delete, remote: remote do %>
          <% button_tag class: 'btn btn-danger btn-sm' do %>
            <%= fa_icon 'trash' %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<%= render 'shared/actions', resource: goalkeeper_stat %>