<div class="row">
<div class="col-lg-12 well">
<p id="notice"><%= notice %></p>

<h1>Listing Goalkeeper Stats</h1>

<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>Event</th>
      <th>Win</th>
      <th>Draw</th>
      <th>Score</th>
      <th>Saves</th>
      <th>Shots faced</th>
      <th>Athlete</th>
    </tr>
  </thead>

  <tbody>
    <% @goalkeeper_stats.each do |goalkeeper_stat| %>
      <tr>
        <td><%= goalkeeper_stat.event %></td>
        <td><%= goalkeeper_stat.win ? 'Yes' : 'No' %></td>
        <td><%= goalkeeper_stat.draw ? 'Yes' : 'No' %></td>
        <td><%= goalkeeper_stat.score %> - <%= goalkeeper_stat.opponent_score %></td>
        <td><%= goalkeeper_stat.saves %></td>
        <td><%= goalkeeper_stat.shots_faced %></td>
        <td><%= goalkeeper_stat.user.try(:name) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>