<div id="event-<%= @goalkeeper_stat.id %>" class="event">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 well">
      <%= render @goalkeeper_stat, remote: false %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 well">
      <h4>Comments</h4>
      <hr>
      <%= render 'comments/form', commentable: @goalkeeper_stat %>
      <br>
      <div class="comments">
        <%= render(@comments) || render('shared/no_resource', resources: 'Comments') %>
      </div>
    </div>
  </div>
</div>


<p>
  <strong>Event:</strong>
  <%= @goalkeeper_stat.event %>
</p>

<p>
  <strong>Win:</strong>
  <%= @goalkeeper_stat.win %>
</p>

<p>
  <strong>Draws:</strong>
  <%= @goalkeeper_stat.draws %>
</p>

<p>
  <strong>Saves:</strong>
  <%= @goalkeeper_stat.saves %>
</p>

<p>
  <strong>Shots faced:</strong>
  <%= @goalkeeper_stat.shots_faced %>
</p>
