<div id="event-<%= @goalkeeper_stat.id %>" class="event">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 well">
      <div class="info">
  <%= render 'shared/avatar', user: @goalkeeper_stat.user %>
  <h4 class="name"><%= @goalkeeper_stat.user.name %></h4>
  <span class="action">created a <%= link_to 'Starting Pitcher ', @goalkeeper_stat %>stat</span>
</div>
<div class="content">
  <h3><%= @goalkeeper_stat.event %></h3>
  <span class="text">

<p>
  <strong>Win:</strong>
  <%= @goalkeeper_stat.win %>
</p>
<p>
 Score:
  <%= @goalkeeper_stat.score %> - <%= @goalkeeper_stat.opponent_score %>
</p>
<p>
  <strong>Draws:</strong>
  <%= @goalkeeper_stat.draws %>
</p>

<p>
  <strong>Saves:</strong>
  <%= @goalkeeper_stat.saves %>
</p>

<p>
  <strong>Shots faced:</strong>
  <%= @goalkeeper_stat.shots_faced %>
</p>

  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 well">
      <h4>Comments</h4>
      <hr>
      <%= render 'comments/form', commentable: @goalkeeper_stat %>
      <br>
      <div class="comments">
        <%= render(@comments) || render('shared/no_resource', resources: 'Comments') %>
      </div>
    </div>
  </div>
</div>