<p id="notice"><%= notice %></p>

<p>
  <strong>Position name:</strong>
  <%= @goalkeeper_stat.position_name %>
</p>

<p>
  <strong>Shorthand:</strong>
  <%= @goalkeeper_stat.shorthand %>
</p>

<p>
  <strong>Sport:</strong>
  <%= @goalkeeper_stat.sport_id %>
</p>

<p>
  <strong>Position:</strong>
  <%= @goalkeeper_stat.position_id %>
</p>

<p>
  <strong>Sport name:</strong>
  <%= @goalkeeper_stat.sport_name %>
</p>

<p>
  <strong>Event:</strong>
  <%= @goalkeeper_stat.event %>
</p>

<p>
  <strong>Games played:</strong>
  <%= @goalkeeper_stat.games_played %>
</p>

<p>
  <strong>Win:</strong>
  <%= @goalkeeper_stat.win %>
</p>

<p>
  <strong>Loss:</strong>
  <%= @goalkeeper_stat.loss %>
</p>

<p>
  <strong>Draw:</strong>
  <%= @goalkeeper_stat.draw %>
</p>

<p>
  <strong>Wins:</strong>
  <%= @goalkeeper_stat.wins %>
</p>

<p>
  <strong>Losses:</strong>
  <%= @goalkeeper_stat.losses %>
</p>

<p>
  <strong>Draws:</strong>
  <%= @goalkeeper_stat.draws %>
</p>

<p>
  <strong>Saves:</strong>
  <%= @goalkeeper_stat.saves %>
</p>

<p>
  <strong>Shots faced:</strong>
  <%= @goalkeeper_stat.shots_faced %>
</p>

<p>
  <strong>User:</strong>
  <%= @goalkeeper_stat.user %>
</p>

<p>
  <strong>Stat:</strong>
  <%= @goalkeeper_stat.stat %>
</p>

<p>
  <strong>Sport:</strong>
  <%= @goalkeeper_stat.sport %>
</p>

<p>
  <strong>Position:</strong>
  <%= @goalkeeper_stat.position %>
</p>

<%= link_to 'Edit', edit_goalkeeper_stat_path(@goalkeeper_stat) %> |
<%= link_to 'Back', goalkeeper_stats_path %>
