<%= form_for(@kicker_returner_stat) do |f| %>
  <div class="field">
    <%= f.label :position_name %><br>
    <%= f.text_field :position_name %>
  </div>
  <div class="field">
    <%= f.label :shorthand %><br>
    <%= f.text_field :shorthand %>
  </div>
  <div class="field">
    <%= f.label :sport_id %><br>
    <%= f.number_field :sport_id %>
  </div>
  <div class="field">
    <%= f.label :position_id %><br>
    <%= f.number_field :position_id %>
  </div>
  <div class="field">
    <%= f.label :sport_name %><br>
    <%= f.text_field :sport_name %>
  </div>
  <div class="field">
    <%= f.label :event %><br>
    <%= f.text_field :event %>
  </div>
  <div class="field">
    <%= f.label :games_played %><br>
    <%= f.number_field :games_played %>
  </div>
  <div class="field">
    <%= f.label :win %><br>
    <%= f.check_box :win %>
  </div>
  <div class="field">
    <%= f.label :loss %><br>
    <%= f.check_box :loss %>
  </div>
  <div class="field">
    <%= f.label :wins %><br>
    <%= f.number_field :wins %>
  </div>
  <div class="field">
    <%= f.label :losses %><br>
    <%= f.number_field :losses %>
  </div>
  <div class="field">
    <%= f.label :kickreturns %><br>
    <%= f.number_field :kickreturns %>
  </div>
  <div class="field">
    <%= f.label :kickreturn_yards %><br>
    <%= f.number_field :kickreturn_yards %>
  </div>
  <div class="field">
    <%= f.label :kickreturn_touchdowns %><br>
    <%= f.number_field :kickreturn_touchdowns %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
