<div class="info">
  <%= render 'shared/avatar', user: kicker_returner_stat.user %>
  <h4 class="name"><%= kicker_returner_stat.user.name %></h4>
  <span class="action">created an <%= link_to 'kicker_returner_stat', kicker_returner_stat %></span>
</div>
<div class="content">
  <h3><%= kicker_returner_stat.event %></h3>
  <span class="text">
    <p>
      
<p>
  Win:
  <%= kicker_returner_stat.win ? 'Yes' : 'No' %>
</p>

<p>
 score:
  <%= kicker_returner_stat.score %> - <%= kicker_returner_stat.opponent_score %>
</p>

<span class="points"><%= link_to 'view more stats', kicker_returner_stat %></span>


  </span>
  <%= render 'shared/created_at', activity: kicker_returner_stat %>
  <div class="points">
    <span class="like-count"><%= pluralize(kicker_returner_stat.cached_votes_up, 'like') %></span>
    <span class="comment-count"><%= pluralize(kicker_returner_stat.comments_count, 'comment') %></span>
    <div class="pull-right">
      <% if belongs_to_user?(kicker_returner_stat) %>
        <%= form_tag kicker_returner_stat_path(kicker_returner_stat), method: :delete, remote: remote do %>
          <% button_tag class: 'btn btn-danger btn-sm' do %>
            <%= fa_icon 'trash' %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<%= render 'shared/actions', resource: kicker_returner_stat %>