<div id="event-<%= @kicker_returner_stat.id %>" class="event">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 well">
      <%= render @kicker_returner_stat, remote: false %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 well">
      <h4>Comments</h4>
      <hr>
      <%= render 'comments/form', commentable: @kicker_returner_stat %>
      <br>
      <div class="comments">
        <%= render(@comments) || render('shared/no_resource', resources: 'Comments') %>
      </div>
    </div>
  </div>
</div>



<p id="notice"><%= notice %></p>

<p>
  <strong>Position name:</strong>
  <%= @kicker_returner_stat.position_name %>
</p>

<p>
  <strong>Shorthand:</strong>
  <%= @kicker_returner_stat.shorthand %>
</p>

<p>
  <strong>Sport:</strong>
  <%= @kicker_returner_stat.sport_id %>
</p>

<p>
  <strong>Position:</strong>
  <%= @kicker_returner_stat.position_id %>
</p>

<p>
  <strong>Sport name:</strong>
  <%= @kicker_returner_stat.sport_name %>
</p>

<p>
  <strong>Event:</strong>
  <%= @kicker_returner_stat.event %>
</p>

<p>
  <strong>Games played:</strong>
  <%= @kicker_returner_stat.games_played %>
</p>

<p>
  <strong>Win:</strong>
  <%= @kicker_returner_stat.win %>
</p>

<p>
  <strong>Loss:</strong>
  <%= @kicker_returner_stat.loss %>
</p>

<p>
  <strong>Wins:</strong>
  <%= @kicker_returner_stat.wins %>
</p>

<p>
  <strong>Losses:</strong>
  <%= @kicker_returner_stat.losses %>
</p>

<p>
  <strong>Kickreturns:</strong>
  <%= @kicker_returner_stat.kickreturns %>
</p>

<p>
  <strong>Kickreturn yards:</strong>
  <%= @kicker_returner_stat.kickreturn_yards %>
</p>

<p>
  <strong>Kickreturn touchdowns:</strong>
  <%= @kicker_returner_stat.kickreturn_touchdowns %>
</p>

<p>
  <strong>User:</strong>
  <%= @kicker_returner_stat.user %>
</p>

<p>
  <strong>Stat:</strong>
  <%= @kicker_returner_stat.stat %>
</p>

<p>
  <strong>Sport:</strong>
  <%= @kicker_returner_stat.sport %>
</p>

<p>
  <strong>Position:</strong>
  <%= @kicker_returner_stat.position %>
</p>

<%= link_to 'Edit', edit_kicker_returner_stat_path(@kicker_returner_stat) %> |
<%= link_to 'Back', kicker_returner_stats_path %>
