<div id="event-<%= @kicker_returner_stat.id %>" class="event">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 well">
      <%= render @kicker_returner_stat, remote: false %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 well">
      <h4>Comments</h4>
      <hr>
      <%= render 'comments/form', commentable: @kicker_returner_stat %>
      <br>
      <div class="comments">
        <%= render(@comments) || render('shared/no_resource', resources: 'Comments') %>
      </div>
    </div>
  </div>
</div>


<p>
  <strong>Event:</strong>
  <%= @kicker_returner_stat.event %>
</p>


<p>
  <strong>Win:</strong>
  <%= @kicker_returner_stat.win %>
</p>


<p>
  <strong>Kickreturns:</strong>
  <%= @kicker_returner_stat.kickreturns %>
</p>

<p>
  <strong>Kickreturn yards:</strong>
  <%= @kicker_returner_stat.kickreturn_yards %>
</p>

<p>
  <strong>Kickreturn touchdowns:</strong>
  <%= @kicker_returner_stat.kickreturn_touchdowns %>
</p>
