<%= form_for(@midfielder_stat) do |f| %>
  <div class="field">
    <%= f.label :event %><br>
    <%= f.text_field :event %>
  </div>
  <div class="field">
    <%= f.label :games_played %><br>
    <%= f.number_field :games_played %>
  </div>
  <div class="field">
    <%= f.label :win %><br>
    <%= f.check_box :win %>
  </div>
  <div class="field">
    <%= f.label :loss %><br>
    <%= f.check_box :loss %>
  </div>
  <div class="field">
    <%= f.label :draw %><br>
    <%= f.check_box :draw %>
  </div>
  <div class="field">
    <%= f.label :wins %><br>
    <%= f.number_field :wins %>
  </div>
  <div class="field">
    <%= f.label :losses %><br>
    <%= f.number_field :losses %>
  </div>
  <div class="field">
    <%= f.label :draws %><br>
    <%= f.number_field :draws %>
  </div>
  <div class="field">
    <%= f.label :goals %><br>
    <%= f.number_field :goals %>
  </div>
  <div class="field">
    <%= f.label :assists %><br>
    <%= f.number_field :assists %>
  </div>
  <div class="field">
    <%= f.label :shots_taken %><br>
    <%= f.number_field :shots_taken %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :stat_id %><br>
    <%= f.text_field :stat_id %>
  </div>
  <div class="field">
    <%= f.label :sport_id %><br>
    <%= f.text_field :sport_id %>
  </div>
  <div class="field">
    <%= f.label :position_id %><br>
    <%= f.text_field :position_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
