<div class="info">
  <%= render 'shared/avatar', user: midfielder_stat.user %>
  <h4 class="name"><%= midfielder_stat.user.name %></h4>
  <span class="action">created an <%= link_to 'midfielder_stat', midfielder_stat %></span>
</div>
<div class="content">
  <h3><%= midfielder_stat.event %></h3>
  <span class="text">

<p>
  Win:
  <%= midfielder_stat.win ? 'Yes' : 'No' %>
</p>

<p>
 score:
  <%= midfielder_stat.score %> - <%= midfielder_stat.opponent_score %>
</p>

<span class="points"><%= link_to 'view more stats', midfielder_stat %></span>


  </span>
  <%= render 'shared/created_at', activity: midfielder_stat %>
  <div class="points">
    <span class="like-count"><%= pluralize(midfielder_stat.cached_votes_up, 'like') %></span>
    <span class="comment-count"><%= pluralize(midfielder_stat.comments_count, 'comment') %></span>
    <div class="pull-right">
      <% if belongs_to_user?(midfielder_stat) %>
        <%= form_tag midfielder_stat_path(midfielder_stat), method: :delete, remote: remote do %>
          <% button_tag class: 'btn btn-danger btn-sm' do %>
            <%= fa_icon 'trash' %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<%= render 'shared/actions', resource: midfielder_stat %>