<div class="row">
<div class="col-lg-12 well">
<p id="notice"><%= notice %></p>

<h1>Listing Midfielder Stats</h1>

<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>Event</th>
      <th>Win</th>
      <th>Draw</th>
      <th>Score</th>
      <th>Goals</th>
      <th>Assists</th>
      <th>Shots taken</th>
      <th>Athlete</th>
    </tr>
  </thead>

  <tbody>
    <% @midfielder_stats.each do |midfielder_stat| %>
      <tr>
        <td><%= midfielder_stat.event %></td>
        <td><%= midfielder_stat.win ? 'Yes' : 'No' %></td>
        <td><%= midfielder_stat.draw ? 'Yes' : 'No' %></td>
        <td><%= midfielder_stat.score %> - <%= midfielder_stat.opponent_score %></td>
        <td><%= midfielder_stat.goals %></td>
        <td><%= midfielder_stat.assists %></td>
        <td><%= midfielder_stat.shots_taken %></td>
        <td><%= midfielder_stat.user.try(:name) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>