<div id="event-<%= @midfielder_stat.id %>" class="event">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 well">
      <%= render @midfielder_stat, remote: false %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 well">
      <h4>Comments</h4>
      <hr>
      <%= render 'comments/form', commentable: @midfielder_stat %>
      <br>
      <div class="comments">
        <%= render(@comments) || render('shared/no_resource', resources: 'Comments') %>
      </div>
    </div>
  </div>
</div>



<p>
  <strong>Event:</strong>
  <%= @midfielder_stat.event %>
</p>

<p>
  <strong>Win:</strong>
  <%= @midfielder_stat.win %>
</p>

<p>
  <strong>Draw:</strong>
  <%= @midfielder_stat.draw %>
</p>

<p>
  <strong>Goals:</strong>
  <%= @midfielder_stat.goals %>
</p>

<p>
  <strong>Assists:</strong>
  <%= @midfielder_stat.assists %>
</p>

<p>
  <strong>Shots taken:</strong>
  <%= @midfielder_stat.shots_taken %>
</p>
