<div id="event-<%= @midfielder_stat.id %>" class="event">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 well">
      <%= render @midfielder_stat, remote: false %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 well">
      <h4>Comments</h4>
      <hr>
      <%= render 'comments/form', commentable: @midfielder_stat %>
      <br>
      <div class="comments">
        <%= render(@comments) || render('shared/no_resource', resources: 'Comments') %>
      </div>
    </div>
  </div>
</div>



<p id="notice"><%= notice %></p>

<p>
  <strong>Position name:</strong>
  <%= @midfielder_stat.position_name %>
</p>

<p>
  <strong>Shorthand:</strong>
  <%= @midfielder_stat.shorthand %>
</p>

<p>
  <strong>Sport:</strong>
  <%= @midfielder_stat.sport_id %>
</p>

<p>
  <strong>Position:</strong>
  <%= @midfielder_stat.position_id %>
</p>

<p>
  <strong>Sport name:</strong>
  <%= @midfielder_stat.sport_name %>
</p>

<p>
  <strong>Event:</strong>
  <%= @midfielder_stat.event %>
</p>

<p>
  <strong>Games played:</strong>
  <%= @midfielder_stat.games_played %>
</p>

<p>
  <strong>Win:</strong>
  <%= @midfielder_stat.win %>
</p>

<p>
  <strong>Loss:</strong>
  <%= @midfielder_stat.loss %>
</p>

<p>
  <strong>Draw:</strong>
  <%= @midfielder_stat.draw %>
</p>

<p>
  <strong>Wins:</strong>
  <%= @midfielder_stat.wins %>
</p>

<p>
  <strong>Losses:</strong>
  <%= @midfielder_stat.losses %>
</p>

<p>
  <strong>Draws:</strong>
  <%= @midfielder_stat.draws %>
</p>

<p>
  <strong>Goals:</strong>
  <%= @midfielder_stat.goals %>
</p>

<p>
  <strong>Assists:</strong>
  <%= @midfielder_stat.assists %>
</p>

<p>
  <strong>Shots taken:</strong>
  <%= @midfielder_stat.shots_taken %>
</p>

<p>
  <strong>User:</strong>
  <%= @midfielder_stat.user %>
</p>

<p>
  <strong>Stat:</strong>
  <%= @midfielder_stat.stat %>
</p>

<p>
  <strong>Sport:</strong>
  <%= @midfielder_stat.sport %>
</p>

<p>
  <strong>Position:</strong>
  <%= @midfielder_stat.position %>
</p>

<%= link_to 'Edit', edit_midfielder_stat_path(@midfielder_stat) %> |
<%= link_to 'Back', midfielder_stats_path %>
