<%= form_for(@sprinter_stat) do |f| %>
  <div class="field">
    <%= f.label :event %><br>
    <%= f.text_field :event %>
  </div>
  <div class="field">
    <%= f.label :races_run %><br>
    <%= f.number_field :races_run %>
  </div>
  <div class="field">
    <%= f.label :other_events %><br>
    <%= f.number_field :other_events %>
  </div>
  <div class="field">
    <%= f.label :win %><br>
    <%= f.check_box :win %>
  </div>
  <div class="field">
    <%= f.label :loss %><br>
    <%= f.check_box :loss %>
  </div>
  <div class="field">
    <%= f.label :wins %><br>
    <%= f.number_field :wins %>
  </div>
  <div class="field">
    <%= f.label :losses %><br>
    <%= f.number_field :losses %>
  </div>
  <div class="field">
    <%= f.label :team_score %><br>
    <%= f.number_field :team_score %>
  </div>
  <div class="field">
    <%= f.label :distance_time %><br>
    <%= f.number_field :distance_time %>
  </div>
  <div class="field">
    <%= f.label :placed %><br>
    <%= f.number_field :placed %>
  </div>
  <div class="field">
    <%= f.label :speed %><br>
    <%= f.number_field :speed %>
  </div>

  <div class="actions">
    <%= f.submit :create, class: 'btn btn-primary' %>
  </div>
<% end %>
