<%= form_for(@sprinter_stat) do |f| %>
  <div class="field">
    <%= f.label :event %><br>
    <%= f.text_field :event, class: 'form-control', autofocus: true, placeholder: "ex. 500ml" %>
  </div>
  <!-- <div class="field">
    <%= f.label :other_events %><br>
    <%= f.number_field :other_events %>
  </div> -->

  <div class="field">
    <%= f.label :distance_time %><br>
    <%= f.number_field :distance_time, class: 'form-control', autofocus: true %>
  </div>
    <div class="field">
    <%= f.label :speed %><br>
    <%= f.number_field :speed, class: 'form-control', autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :placed %><br>
    <%= f.number_field :placed, class: 'form-control', autofocus: true %>
  </div>
  <div class="field">
    <%= f.label "Win? Check box" %> <i>(leave blank, if not)</i><br>
    <%= f.check_box :win %>
  </div>
  <div class="field">
    <%= f.label "Team placement" %><br> <i>(leave blank, if no team)</i><br>
    <%= f.number_field :team_score, class: 'form-control', autofocus: true %>
  </div>
  <div class="actions">
    <%= f.submit :create, class: 'btn btn-primary' %>
  </div>
<% end %>
