<div class="row">
<div class="col-lg-12 well">
<p id="notice"><%= notice %></p>

<h1>Listing Track &amp; Field Stats</h1>

<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>Event</th>
      <!--<th>Other events</th> -->
      <th>Win</th>
      <th>Team score</th>
      <th>Distance time</th>
      <th>Placed</th>
      <th>Speed</th>
      <th>Athlete</th>
    </tr>
  </thead>

  <tbody>
    <% @sprinter_stats.each do |sprinter_stat| %>
      <tr>
        <td><%= sprinter_stat.event %></td>
        <!-- <td><%= sprinter_stat.other_events %></td> -->
        <td><%= sprinter_stat.win ? 'Yes' : 'No' %></td>
        <td><%= sprinter_stat.team_score %></td>
        <td><%= sprinter_stat.distance_time %></td>
        <td><%= sprinter_stat.placed %></td>
        <td><%= sprinter_stat.speed %></td>
        <td><%= sprinter_stat.user.try(:name) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>