<p id="notice"><%= notice %></p>

<h1>Listing Sprinter Stats</h1>

<table>
  <thead>
    <tr>
      <th>Position name</th>
      <th>Shorthand</th>
      <th>Sport</th>
      <th>Position</th>
      <th>Sport name</th>
      <th>Event</th>
      <th>Races run</th>
      <th>Other events</th>
      <th>Win</th>
      <th>Loss</th>
      <th>Wins</th>
      <th>Losses</th>
      <th>Team score</th>
      <th>Distance time</th>
      <th>Placed</th>
      <th>Speed</th>
      <th>User</th>
      <th>Stat</th>
      <th>Sport</th>
      <th>Position</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sprinter_stats.each do |sprinter_stat| %>
      <tr>
        <td><%= sprinter_stat.position_name %></td>
        <td><%= sprinter_stat.shorthand %></td>
        <td><%= sprinter_stat.sport_id %></td>
        <td><%= sprinter_stat.position_id %></td>
        <td><%= sprinter_stat.sport_name %></td>
        <td><%= sprinter_stat.event %></td>
        <td><%= sprinter_stat.races_run %></td>
        <td><%= sprinter_stat.other_events %></td>
        <td><%= sprinter_stat.win %></td>
        <td><%= sprinter_stat.loss %></td>
        <td><%= sprinter_stat.wins %></td>
        <td><%= sprinter_stat.losses %></td>
        <td><%= sprinter_stat.team_score %></td>
        <td><%= sprinter_stat.distance_time %></td>
        <td><%= sprinter_stat.placed %></td>
        <td><%= sprinter_stat.speed %></td>
        <td><%= sprinter_stat.user.try(:name) %></td>
        <td><%= sprinter_stat.stat %></td>
        <td><%= sprinter_stat.sport %></td>
        <td><%= sprinter_stat.position %></td>
        <td><%= link_to 'Show', sprinter_stat %></td>
        <td><%= link_to 'Edit', edit_sprinter_stat_path(sprinter_stat) %></td>
        <td><%= link_to 'Destroy', sprinter_stat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sprinter stat', new_sprinter_stat_path %>
