<p id="notice"><%= notice %></p>

<p>
  <strong>Position name:</strong>
  <%= @sprinter_stat.position_name %>
</p>

<p>
  <strong>Shorthand:</strong>
  <%= @sprinter_stat.shorthand %>
</p>

<p>
  <strong>Sport:</strong>
  <%= @sprinter_stat.sport_id %>
</p>

<p>
  <strong>Position:</strong>
  <%= @sprinter_stat.position_id %>
</p>

<p>
  <strong>Sport name:</strong>
  <%= @sprinter_stat.sport_name %>
</p>

<p>
  <strong>Event:</strong>
  <%= @sprinter_stat.event %>
</p>

<p>
  <strong>Races run:</strong>
  <%= @sprinter_stat.races_run %>
</p>

<p>
  <strong>Other events:</strong>
  <%= @sprinter_stat.other_events %>
</p>

<p>
  <strong>Win:</strong>
  <%= @sprinter_stat.win %>
</p>

<p>
  <strong>Loss:</strong>
  <%= @sprinter_stat.loss %>
</p>

<p>
  <strong>Wins:</strong>
  <%= @sprinter_stat.wins %>
</p>

<p>
  <strong>Losses:</strong>
  <%= @sprinter_stat.losses %>
</p>

<p>
  <strong>Team score:</strong>
  <%= @sprinter_stat.team_score %>
</p>

<p>
  <strong>Distance time:</strong>
  <%= @sprinter_stat.distance_time %>
</p>

<p>
  <strong>Placed:</strong>
  <%= @sprinter_stat.placed %>
</p>

<p>
  <strong>Speed:</strong>
  <%= @sprinter_stat.speed %>
</p>

<p>
  <strong>User:</strong>
  <%= @sprinter_stat.user %>
</p>

<p>
  <strong>Stat:</strong>
  <%= @sprinter_stat.stat %>
</p>

<p>
  <strong>Sport:</strong>
  <%= @sprinter_stat.sport %>
</p>

<p>
  <strong>Position:</strong>
  <%= @sprinter_stat.position %>
</p>

<%= link_to 'Edit', edit_sprinter_stat_path(@sprinter_stat) %> |
<%= link_to 'Back', sprinter_stats_path %>
