<div id="event-<%= @sprinter_stat.id %>" class="event">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 well">
      <div class="info">
  <%= render 'shared/avatar', user: @sprinter_stat.user %>
  <h4 class="name"><%= @sprinter_stat.user.name %></h4>
  <span class="action">created a <%= link_to 'Starting Pitcher ', @sprinter_stat %>stat</span>
</div>
<div class="content">
  <h3><%= @sprinter_stat.event %></h3>
  <span class="text">

<!-- <p>
  <strong>Races run:</strong>
  <%= @sprinter_stat.races_run %>
</p>

<p>
  <strong>Other events:</strong>
  <%= @sprinter_stat.other_events %>
</p> -->

<p>
  <strong>Win:</strong>
  <%= @sprinter_stat.win %>
</p>
<!-- <p>
 Score:
  <%= @sprinter_stat.score %> - <%= @sprinter_stat.opponent_score %>
</p> -->

    <% if @sprinter_stat.team_score.present? %>
<p>
  <strong>Team score:</strong>
  <%= @sprinter_stat.team_score %>
</p>
    <% end %>
    <% if @sprinter_stat.distance_time.present? %>
<p>
  <strong>Distance time:</strong>
  <%= @sprinter_stat.distance_time %>
</p>
    <% end %>
    <% if @sprinter_stat.placed.present? %>
<p>
  <strong>Placed:</strong>
  <%= @sprinter_stat.placed %>
</p>
    <% end %>
    <% if @sprinter_stat.speed.present? %>
<p>
  <strong>Speed:</strong>
  <%= @sprinter_stat.speed %>
</p>
    <% end %>

  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 well">
      <h4>Comments</h4>
      <hr>
      <%= render 'comments/form', commentable: @sprinter_stat %>
      <br>
      <div class="comments">
        <%= render(@comments) || render('shared/no_resource', resources: 'Comments') %>
      </div>
    </div>
  </div>
</div>