<div class="info">
  <%= render 'shared/avatar', user: kicker_stat.user %>
  <h4 class="name"><%= kicker_stat.user.name %></h4>
  <span class="action">created an <%= link_to 'kicker_stat', kicker_stat %></span>
</div>
<div class="content">
  <h3><%= kicker_stat.event %></h3>
  <span class="text">
    

<p>
  Win:
  <%= kicker_stat.win %>
</p>


<p>
  Field goals:
  <%= kicker_stat.field_goals %>
</p>
    
  </span>
  <%= render 'shared/created_at', activity: kicker_stat %>
  <div class="points">
    <span class="like-count"><%= pluralize(kicker_stat.cached_votes_up, 'like') %></span>
    <span class="comment-count"><%= pluralize(kicker_stat.comments_count, 'comment') %></span>
    <div class="pull-right">
      <% if belongs_to_user?(kicker_stat) %>
        <%= form_tag kicker_stat_path(kicker_stat), method: :delete, remote: remote do %>
          <% button_tag class: 'btn btn-danger btn-sm' do %>
            <%= fa_icon 'trash' %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<%= render 'shared/actions', resource: kicker_stat %>