<div class="row">
<div class="col-lg-12 well">
<p id="notice"><%= notice %></p>

<h1>Listing Kicker Stats</h1>

<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>Event</th>
      <th>Win</th>
      <th>Score</th>
      <th>Field goals</th>
      <th>Athlete</th>
    </tr>
  </thead>

  <tbody>
    <% @kicker_stats.each do |kicker_stat| %>
      <tr>
        <td><%= kicker_stat.event %></td>
        <td><%= kicker_stat.win ? 'Yes' : 'No' %></td>
        <td><%= kicker_stat.score %> - <%= kicker_stat.opponent_score %></td>
        <td><%= kicker_stat.field_goals %></td>
        <td><%= kicker_stat.user.try(:name) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>
<!-- <br>

<%= link_to 'New Kicker stat', new_kicker_stat_path %> -->
