<div id="event-<%= @kicker_stat.id %>" class="event">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 well">
      <%= render @kicker_stat, remote: false %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 well">
      <h4>Comments</h4>
      <hr>
      <%= render 'comments/form', commentable: @kicker_stat %>
      <br>
      <div class="comments">
        <%= render(@comments) || render('shared/no_resource', resources: 'Comments') %>
      </div>
    </div>
  </div>
</div>




<p>
  <strong>Event:</strong>
  <%= @kicker_stat.event %>
</p>


<p>
  <strong>Win:</strong>
  <%= @kicker_stat.win %>
</p>

<p>
  <strong>Field goals:</strong>
  <%= @kicker_stat.field_goals %>
</p>
