<div id="event-<%= @kicker_stat.id %>" class="event">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 well">
      <div class="info">
  <%= render 'shared/avatar', user: @kicker_stat.user %>
  <h4 class="name"><%= @kicker_stat.user.name %></h4>
  <span class="action">created a <%= link_to 'Starting Pitcher ', @kicker_stat %>stat</span>
</div>
<div class="content">
  <h3><%= @kicker_stat.event %></h3>
  <span class="text">


<p>
  <strong>Win:</strong>
  <%= @kicker_stat.win %>
</p>
<p>
 Score:
  <%= @kicker_stat.score %> - <%= @kicker_stat.opponent_score %>
</p>
<p>
  <strong>Field goals:</strong>
  <%= @kicker_stat.field_goals %>
</p>

  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 well">
      <h4>Comments</h4>
      <hr>
      <%= render 'comments/form', commentable: @kicker_stat %>
      <br>
      <div class="comments">
        <%= render(@comments) || render('shared/no_resource', resources: 'Comments') %>
      </div>
    </div>
  </div>
</div>