<p id="notice"><%= notice %></p>

<p>
  <strong>Position name:</strong>
  <%= @kicker_stat.position_name %>
</p>

<p>
  <strong>Shorthand:</strong>
  <%= @kicker_stat.shorthand %>
</p>

<p>
  <strong>Sport:</strong>
  <%= @kicker_stat.sport_id %>
</p>

<p>
  <strong>Position:</strong>
  <%= @kicker_stat.position_id %>
</p>

<p>
  <strong>Sport name:</strong>
  <%= @kicker_stat.sport_name %>
</p>

<p>
  <strong>Event:</strong>
  <%= @kicker_stat.event %>
</p>

<p>
  <strong>Games played:</strong>
  <%= @kicker_stat.games_played %>
</p>

<p>
  <strong>Win:</strong>
  <%= @kicker_stat.win %>
</p>

<p>
  <strong>Loss:</strong>
  <%= @kicker_stat.loss %>
</p>

<p>
  <strong>Wins:</strong>
  <%= @kicker_stat.wins %>
</p>

<p>
  <strong>Losses:</strong>
  <%= @kicker_stat.losses %>
</p>

<p>
  <strong>Field goals:</strong>
  <%= @kicker_stat.field_goals %>
</p>

<p>
  <strong>User:</strong>
  <%= @kicker_stat.user %>
</p>

<p>
  <strong>Stat:</strong>
  <%= @kicker_stat.stat %>
</p>

<p>
  <strong>Sport:</strong>
  <%= @kicker_stat.sport %>
</p>

<p>
  <strong>Position:</strong>
  <%= @kicker_stat.position %>
</p>

<%= link_to 'Edit', edit_kicker_stat_path(@kicker_stat) %> |
<%= link_to 'Back', kicker_stats_path %>
