<%= form_for(@quarterback_stat) do |f| %>
  <div class="field">
    <%= f.label :event %><br>
    <%= f.text_field :event %>
  </div>
  <!-- <div class="field">
    <%= f.label :games_played %><br>
    <%= f.number_field :games_played %>
  </div> -->
  <div class="field">
    <%= f.label :win %><br>
    <%= f.check_box :win %>
  </div>
    <div class="field">
    <%= f.label "Your final score" %><br>
    <%= f.text_field :score %>
  </div>
    <div class="field">
    <%= f.label "Opponent's final score" %><br>
    <%= f.text_field :opponent_score %>
  </div>
  <!-- <div class="field">
    <%= f.label :loss %><br>
    <%= f.check_box :loss %>
  </div>
  <div class="field">
    <%= f.label :wins %><br>
    <%= f.number_field :wins %>
  </div>
  <div class="field">
    <%= f.label :losses %><br>
    <%= f.number_field :losses %>
  </div> -->
  <div class="field">
    <%= f.label :pass_completions %><br>
    <%= f.number_field :pass_completions %>
  </div>
  <div class="field">
    <%= f.label :pass_attempts %><br>
    <%= f.number_field :pass_attempts %>
  </div>
  <div class="field">
    <%= f.label :passing_yards %><br>
    <%= f.number_field :passing_yards %>
  </div>
  <div class="field">
    <%= f.label :passing_touchdowns %><br>
    <%= f.number_field :passing_touchdowns %>
  </div>
  <div class="field">
    <%= f.label :rushing_attempts %><br>
    <%= f.number_field :rushing_attempts %>
  </div>
  <div class="field">
    <%= f.label :rushing_yards %><br>
    <%= f.number_field :rushing_yards %>
  </div>
  <div class="field">
    <%= f.label :rushing_touchdowns %><br>
    <%= f.number_field :rushing_touchdowns %>
  </div>
  <div class="field">
    <%= f.label :fumbles %><br>
    <%= f.number_field :fumbles %>
  </div>
  <div class="field">
    <%= f.label :interception %><br>
    <%= f.number_field :interception %>
  </div>

  <div class="actions">
    <%= f.submit :create, class: 'btn btn-primary' %>
  </div>
<% end %>
