<%= form_for(@quarterback_stat) do |f| %>
  <div class="field">
    <%= f.label :event %><br>
    <%= f.text_field :event, class: 'form-control', autofocus: true, placeholder: "ex. Reds v. Blues" %>
  </div>
  <!-- <div class="field">
    <%= f.label :games_played %><br>
    <%= f.number_field :games_played %>
  </div> -->
  <div class="field">
    <%= f.label :pass_completions %><br>
    <%= f.number_field :pass_completions, class: 'form-control', autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :pass_attempts %><br>
    <%= f.number_field :pass_attempts, class: 'form-control', autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :passing_yards %><br>
    <%= f.number_field :passing_yards, class: 'form-control', autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :passing_touchdowns %><br>
    <%= f.number_field :passing_touchdowns, class: 'form-control', autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :rushing_attempts %><br>
    <%= f.number_field :rushing_attempts, class: 'form-control', autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :rushing_yards %><br>
    <%= f.number_field :rushing_yards, class: 'form-control', autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :rushing_touchdowns %><br>
    <%= f.number_field :rushing_touchdowns, class: 'form-control', autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :fumbles %><br>
    <%= f.number_field :fumbles, class: 'form-control', autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :interception %><br>
    <%= f.number_field :interception, class: 'form-control', autofocus: true %>
  </div>
  <div class="field">
    <%= f.label "Win? Check box" %> <i>(leave blank, if not)</i><br>
    <%= f.check_box :win %>
  </div>
    <div class="field">
    <%= f.label "Your final score" %><br>
    <%= f.text_field :score, class: 'form-control', autofocus: true %>
  </div>
    <div class="field">
    <%= f.label "Opponent's final score" %><br>
    <%= f.text_field :opponent_score, class: 'form-control', autofocus: true %>
  </div>
  <div class="actions">
    <%= f.submit :create, class: 'btn btn-primary' %>
  </div>
<% end %>
