<div class="row">
<div class="col-lg-12 well">
<p id="notice"><%= notice %></p>

<h1>Listing Quarterback Stats</h1>

<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>Event</th>
      <th>Win</th>
      <th>Score</th>
      <th>Pass completions</th>
      <th>Pass attempts</th>
      <th>Passing yards</th>
      <th>Passing touchdowns</th>
      <th>Rushing attempts</th>
      <th>Rushing yards</th>
      <th>Rushing touchdowns</th>
      <th>Fumbles</th>
      <th>Interception</th>
      <th>Athlete</th>
    </tr>
  </thead>

  <tbody>
    <% @quarterback_stats.each do |quarterback_stat| %>
      <tr>
        <td><%= quarterback_stat.event %></td>
        <td><%= quarterback_stat.win ? 'Yes' : 'No' %></td>
        <td><%= quarterback_stat.score %> - <%= quarterback_stat.opponent_score %></td>
        <td><%= quarterback_stat.pass_completions %></td>
        <td><%= quarterback_stat.pass_attempts %></td>
        <td><%= quarterback_stat.passing_yards %></td>
        <td><%= quarterback_stat.passing_touchdowns %></td>
        <td><%= quarterback_stat.rushing_attempts %></td>
        <td><%= quarterback_stat.rushing_yards %></td>
        <td><%= quarterback_stat.rushing_touchdowns %></td>
        <td><%= quarterback_stat.fumbles %></td>
        <td><%= quarterback_stat.interception %></td>
        <td><%= quarterback_stat.user.try(:name) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>