<div id="event-<%= @quarterback_stat.id %>" class="event">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 well">
      <%= render @quarterback_stat, remote: false %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 well">
      <h4>Comments</h4>
      <hr>
      <%= render 'comments/form', commentable: @quarterback_stat %>
      <br>
      <div class="comments">
        <%= render(@comments) || render('shared/no_resource', resources: 'Comments') %>
      </div>
    </div>
  </div>
</div>


<p>
  <strong>Event:</strong>
  <%= @quarterback_stat.event %>
</p>


<p>
  <strong>Win:</strong>
  <%= @quarterback_stat.win %>
</p>

<p>
  <strong>Pass completions:</strong>
  <%= @quarterback_stat.pass_completions %>
</p>

<p>
  <strong>Pass attempts:</strong>
  <%= @quarterback_stat.pass_attempts %>
</p>

<p>
  <strong>Passing yards:</strong>
  <%= @quarterback_stat.passing_yards %>
</p>

<p>
  <strong>Passing touchdowns:</strong>
  <%= @quarterback_stat.passing_touchdowns %>
</p>

<p>
  <strong>Rushing attempts:</strong>
  <%= @quarterback_stat.rushing_attempts %>
</p>

<p>
  <strong>Rushing yards:</strong>
  <%= @quarterback_stat.rushing_yards %>
</p>

<p>
  <strong>Rushing touchdowns:</strong>
  <%= @quarterback_stat.rushing_touchdowns %>
</p>

<p>
  <strong>Fumbles:</strong>
  <%= @quarterback_stat.fumbles %>
</p>

<p>
  <strong>Interception:</strong>
  <%= @quarterback_stat.interception %>
</p>
