<div id="event-<%= @running_back_stat.id %>" class="event">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 well">
      <div class="info">
  <%= render 'shared/avatar', user: @running_back_stat.user %>
  <h4 class="name"><%= @running_back_stat.user.name %></h4>
  <span class="action">created a <%= link_to 'Starting Pitcher ', @running_back_stat %>stat</span>
</div>
<div class="content">
  <h3><%= @running_back_stat.event %></h3>
  <span class="text">


<p>
  <strong>Win:</strong>
  <%= @running_back_stat.win %>
</p>


<p>
  <strong>Rushing attempts:</strong>
  <%= @running_back_stat.rushing_attempts %>
</p>

<p>
  <strong>Rushing yards:</strong>
  <%= @running_back_stat.rushing_yards %>
</p>

<p>
  <strong>Rushing touchdowns:</strong>
  <%= @running_back_stat.rushing_touchdowns %>
</p>

<p>
  <strong>Receptions:</strong>
  <%= @running_back_stat.receptions %>
</p>

<p>
  <strong>Reception yards:</strong>
  <%= @running_back_stat.reception_yards %>
</p>

<p>
  <strong>Reception touchdowns:</strong>
  <%= @running_back_stat.reception_touchdowns %>
</p>

<p>
  <strong>Fumbles:</strong>
  <%= @running_back_stat.fumbles %>
</p>

  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 well">
      <h4>Comments</h4>
      <hr>
      <%= render 'comments/form', commentable: @running_back_stat %>
      <br>
      <div class="comments">
        <%= render(@comments) || render('shared/no_resource', resources: 'Comments') %>
      </div>
    </div>
  </div>
</div>