<%= form_for(@runner_stat) do |f| %>
  <% if @runner_stat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@runner_stat.errors.count, "error") %> prohibited this runner_stat from being saved:</h2>

      <ul>
      <% @runner_stat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :position_name %><br>
    <%= f.text_field :position_name %>
  </div>
  <div class="field">
    <%= f.label :shorthand %><br>
    <%= f.text_field :shorthand %>
  </div>
  <div class="field">
    <%= f.label :sport_id %><br>
    <%= f.number_field :sport_id %>
  </div>
  <div class="field">
    <%= f.label :position_id %><br>
    <%= f.number_field :position_id %>
  </div>
  <div class="field">
    <%= f.label :sport_name %><br>
    <%= f.text_field :sport_name %>
  </div>
  <div class="field">
    <%= f.label :event %><br>
    <%= f.text_field :event %>
  </div>
  <div class="field">
    <%= f.label :races_run %><br>
    <%= f.number_field :races_run %>
  </div>
  <div class="field">
    <%= f.label :win %><br>
    <%= f.check_box :win %>
  </div>
  <div class="field">
    <%= f.label :loss %><br>
    <%= f.check_box :loss %>
  </div>
  <div class="field">
    <%= f.label :wins %><br>
    <%= f.number_field :wins %>
  </div>
  <div class="field">
    <%= f.label :losses %><br>
    <%= f.number_field :losses %>
  </div>
  <div class="field">
    <%= f.label :team_score %><br>
    <%= f.number_field :team_score %>
  </div>
  <div class="field">
    <%= f.label :distance_time %><br>
    <%= f.number_field :distance_time %>
  </div>
  <div class="field">
    <%= f.label :placed %><br>
    <%= f.number_field :placed %>
  </div>
  <div class="field">
    <%= f.label :speed %><br>
    <%= f.number_field :speed %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :stat_id %><br>
    <%= f.text_field :stat_id %>
  </div>
  <div class="field">
    <%= f.label :sport_id %><br>
    <%= f.text_field :sport_id %>
  </div>
  <div class="field">
    <%= f.label :position_id %><br>
    <%= f.text_field :position_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
