<div class="row">
<div class="col-lg-12 well">
<p id="notice"><%= notice %></p>

<h1>Listing Cross Country Stats</h1>

<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>Event</th>
      <th>Races run</th>
      <th>Win</th>
      <th>Team score</th>
      <th>Distance time</th>
      <th>Placed</th>
      <th>Speed</th>
      <th>Athlete</th>
    </tr>
  </thead>

  <tbody>
    <% @runner_stats.each do |runner_stat| %>
      <tr>
        <td><%= runner_stat.event %></td>
        <td><%= runner_stat.win %></td>
        <td><%= runner_stat.team_score %></td>
        <td><%= runner_stat.distance_time %></td>
        <td><%= runner_stat.placed %></td>
        <td><%= runner_stat.speed %></td>
        <td><%= runner_stat.user.try(:name) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>