<div id="event-<%= @runner_stat.id %>" class="event">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 well">
      <div class="info">
  <%= render 'shared/avatar', user: @runner_stat.user %>
  <h4 class="name"><%= @runner_stat.user.name %></h4>
  <span class="action">created a <%= link_to 'Starting Pitcher ', @runner_stat %>stat</span>
</div>
<div class="content">
  <h3><%= @runner_stat.event %></h3>
  <span class="text">

<p>
  <strong>Win:</strong>
  <%= @runner_stat.win %>
</p>
<p>
 Score:
  <%= @runner_stat.score %> - <%= @runner_stat.opponent_score %>
</p>
<p>
  <strong>Team score:</strong>
  <%= @runner_stat.team_score %>
</p>

<p>
  <strong>Distance time:</strong>
  <%= @runner_stat.distance_time %>
</p>

<p>
  <strong>Placed:</strong>
  <%= @runner_stat.placed %>
</p>

<p>
  <strong>Speed:</strong>
  <%= @runner_stat.speed %>
</p>

  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 well">
      <h4>Comments</h4>
      <hr>
      <%= render 'comments/form', commentable: @runner_stat %>
      <br>
      <div class="comments">
        <%= render(@comments) || render('shared/no_resource', resources: 'Comments') %>
      </div>
    </div>
  </div>
</div>