<div id="event-<%= @runner_stat.id %>" class="event">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 well">
      <%= render @runner_stat, remote: false %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 well">
      <h4>Comments</h4>
      <hr>
      <%= render 'comments/form', commentable: @runner_stat %>
      <br>
      <div class="comments">
        <%= render(@comments) || render('shared/no_resource', resources: 'Comments') %>
      </div>
    </div>
  </div>
</div>



<p id="notice"><%= notice %></p>

<p>
  <strong>Position name:</strong>
  <%= @runner_stat.position_name %>
</p>

<p>
  <strong>Shorthand:</strong>
  <%= @runner_stat.shorthand %>
</p>

<p>
  <strong>Sport:</strong>
  <%= @runner_stat.sport_id %>
</p>

<p>
  <strong>Position:</strong>
  <%= @runner_stat.position_id %>
</p>

<p>
  <strong>Sport name:</strong>
  <%= @runner_stat.sport_name %>
</p>

<p>
  <strong>Event:</strong>
  <%= @runner_stat.event %>
</p>

<p>
  <strong>Races run:</strong>
  <%= @runner_stat.races_run %>
</p>

<p>
  <strong>Win:</strong>
  <%= @runner_stat.win %>
</p>

<p>
  <strong>Loss:</strong>
  <%= @runner_stat.loss %>
</p>

<p>
  <strong>Wins:</strong>
  <%= @runner_stat.wins %>
</p>

<p>
  <strong>Losses:</strong>
  <%= @runner_stat.losses %>
</p>

<p>
  <strong>Team score:</strong>
  <%= @runner_stat.team_score %>
</p>

<p>
  <strong>Distance time:</strong>
  <%= @runner_stat.distance_time %>
</p>

<p>
  <strong>Placed:</strong>
  <%= @runner_stat.placed %>
</p>

<p>
  <strong>Speed:</strong>
  <%= @runner_stat.speed %>
</p>

<p>
  <strong>User:</strong>
  <%= @runner_stat.user %>
</p>

<p>
  <strong>Stat:</strong>
  <%= @runner_stat.stat %>
</p>

<p>
  <strong>Sport:</strong>
  <%= @runner_stat.sport %>
</p>

<p>
  <strong>Position:</strong>
  <%= @runner_stat.position %>
</p>

<%= link_to 'Edit', edit_runner_stat_path(@runner_stat) %> |
<%= link_to 'Back', runner_stats_path %>
