<div class="info">
  <%= render 'shared/avatar', user: defender_stat.user %>
  <h4 class="name"><%= defender_stat.user.name %></h4>
  <span class="action">created an <%= link_to 'defender_stat', defender_stat %></span>
</div>
<div class="content">
  <h3><%= defender_stat.event %></h3>
  <span class="text">

<p>
  <strong>Games played:</strong>
  <%= defender_stat.games_played %>
</p>

<p>
  <strong>Win:</strong>
  <%= defender_stat.win %>
</p>

<p>
  <strong>Loss:</strong>
  <%= defender_stat.loss %>
</p>

<p>
  <strong>Draw:</strong>
  <%= defender_stat.draw %>
</p>

<p>
  <strong>Wins:</strong>
  <%= defender_stat.wins %>
</p>

<p>
  <strong>Losses:</strong>
  <%= defender_stat.losses %>
</p>

<p>
  <strong>Draws:</strong>
  <%= defender_stat.draws %>
</p>

<p>
  <strong>Goals:</strong>
  <%= defender_stat.goals %>
</p>

<p>
  <strong>Assists:</strong>
  <%= defender_stat.assists %>
</p>

<p>
  <strong>Shots taken:</strong>
  <%= defender_stat.shots_taken %>
</p>



  </span>
  <%= render 'shared/created_at', activity: defender_stat %>
  <div class="points">
    <span class="like-count"><%= pluralize(defender_stat.cached_votes_up, 'like') %></span>
    <span class="comment-count"><%= pluralize(defender_stat.comments_count, 'comment') %></span>
    <div class="pull-right">
      <% if belongs_to_user?(defender_stat) %>
        <%= form_tag defender_stat_path(defender_stat), method: :delete, remote: remote do %>
          <% button_tag class: 'btn btn-danger btn-sm' do %>
            <%= fa_icon 'trash' %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<%= render 'shared/actions', resource: defender_stat %>