<div class="info">
  <%= render 'shared/avatar', user: forward_stat.user %>
  <h4 class="name"><%= forward_stat.user.name %></h4>
  <span class="action">created an <%= link_to 'forward_stat', forward_stat %></span>
</div>
<div class="content">
  <h3><%= forward_stat.event %></h3>
  <span class="text">
    

<p>
  <strong>Win:
  <%= forward_stat.win %>
</p>

<p>
  <strong>Goals:
  <%= forward_stat.goals %>
</p>

<p>
  <strong>Assists:
  <%= forward_stat.assists %>
</p>

<p>
  <strong>Shots taken:
  <%= forward_stat.shots_taken %>
</p>


  </span>
  <%= render 'shared/created_at', activity: forward_stat %>
  <div class="points">
    <span class="like-count"><%= pluralize(forward_stat.cached_votes_up, 'like') %></span>
    <span class="comment-count"><%= pluralize(forward_stat.comments_count, 'comment') %></span>
    <div class="pull-right">
      <% if belongs_to_user?(forward_stat) %>
        <%= form_tag forward_stat_path(forward_stat), method: :delete, remote: remote do %>
          <% button_tag class: 'btn btn-danger btn-sm' do %>
            <%= fa_icon 'trash' %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<%= render 'shared/actions', resource: forward_stat %>