<p id="notice"><%= notice %></p>

<p>
  <strong>Position name:</strong>
  <%= @forward_stat.position_name %>
</p>

<p>
  <strong>Shorthand:</strong>
  <%= @forward_stat.shorthand %>
</p>

<p>
  <strong>Sport:</strong>
  <%= @forward_stat.sport_id %>
</p>

<p>
  <strong>Position:</strong>
  <%= @forward_stat.position_id %>
</p>

<p>
  <strong>Sport name:</strong>
  <%= @forward_stat.sport_name %>
</p>

<p>
  <strong>Event:</strong>
  <%= @forward_stat.event %>
</p>

<p>
  <strong>Games played:</strong>
  <%= @forward_stat.games_played %>
</p>

<p>
  <strong>Win:</strong>
  <%= @forward_stat.win %>
</p>

<p>
  <strong>Loss:</strong>
  <%= @forward_stat.loss %>
</p>

<p>
  <strong>Draw:</strong>
  <%= @forward_stat.draw %>
</p>

<p>
  <strong>Wins:</strong>
  <%= @forward_stat.wins %>
</p>

<p>
  <strong>Losses:</strong>
  <%= @forward_stat.losses %>
</p>

<p>
  <strong>Draws:</strong>
  <%= @forward_stat.draws %>
</p>

<p>
  <strong>Goals:</strong>
  <%= @forward_stat.goals %>
</p>

<p>
  <strong>Assists:</strong>
  <%= @forward_stat.assists %>
</p>

<p>
  <strong>Shots taken:</strong>
  <%= @forward_stat.shots_taken %>
</p>

<p>
  <strong>User:</strong>
  <%= @forward_stat.user %>
</p>

<p>
  <strong>Stat:</strong>
  <%= @forward_stat.stat %>
</p>

<p>
  <strong>Sport:</strong>
  <%= @forward_stat.sport %>
</p>

<p>
  <strong>Position:</strong>
  <%= @forward_stat.position %>
</p>

<%= link_to 'Edit', edit_forward_stat_path(@forward_stat) %> |
<%= link_to 'Back', forward_stats_path %>
