<%= form_for(@tight_end_stat) do |f| %>
  <div class="field">
    <%= f.label :event %><br>
    <%= f.text_field :event, class: 'form-control', autofocus: true, placeholder: "ex. Reds v. Blues" %>
  </div>
 <!--  <div class="field">
    <%= f.label :games_played %><br>
    <%= f.number_field :games_played %>
  </div> -->
  <div class="field">
    <%= f.label :receptions %><br>
    <%= f.number_field :receptions, class: 'form-control', autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :reception_yards %><br>
    <%= f.number_field :reception_yards, class: 'form-control', autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :reception_touchdowns %><br>
    <%= f.number_field :reception_touchdowns, class: 'form-control', autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :pancakes %><br>
    <%= f.number_field :pancakes, class: 'form-control', autofocus: true %>
  </div>
  <div class="field">
    <%= f.label "Win? Check box" %> <i>(leave blank, if not)</i><br>
    <%= f.check_box :win %>
  </div>
    <div class="field">
    <%= f.label "Your final score" %><br>
    <%= f.text_field :score, class: 'form-control', autofocus: true %>
  </div>
    <div class="field">
    <%= f.label "Opponent's final score" %><br>
    <%= f.text_field :opponent_score, class: 'form-control', autofocus: true %>
  </div>
  <div class="actions">
    <%= f.submit :create, class: 'btn btn-primary' %>
  </div>
<% end %>
