<div class="info">
  <%= render 'shared/avatar', user: tight_end_stat.user %>
  <h4 class="name"><%= tight_end_stat.user.name %></h4>
  <span class="action">created an <%= link_to 'tight_end_stat', tight_end_stat %></span>
</div>
<div class="content">
  <h3><%= tight_end_stat.event %></h3>
  <span class="text">
    

    <p>
  <strong>Games played:</strong>
  <%= tight_end_stat.games_played %>
</p>

<p>
  <strong>Win:</strong>
  <%= tight_end_stat.win %>
</p>

<p>
  <strong>Loss:</strong>
  <%= tight_end_stat.loss %>
</p>

<p>
  <strong>Wins:</strong>
  <%= tight_end_stat.wins %>
</p>

<p>
  <strong>Losses:</strong>
  <%= tight_end_stat.losses %>
</p>

<p>
  <strong>Receptions:</strong>
  <%= tight_end_stat.receptions %>
</p>

<p>
  <strong>Reception yards:</strong>
  <%= tight_end_stat.reception_yards %>
</p>

<p>
  <strong>Reception touchdowns:</strong>
  <%= tight_end_stat.reception_touchdowns %>
</p>

<p>
  <strong>Pancakes:</strong>
  <%= tight_end_stat.pancakes %>
</p>


  </span>
  <%= render 'shared/created_at', activity: tight_end_stat %>
  <div class="points">
    <span class="like-count"><%= pluralize(tight_end_stat.cached_votes_up, 'like') %></span>
    <span class="comment-count"><%= pluralize(tight_end_stat.comments_count, 'comment') %></span>
    <div class="pull-right">
      <% if belongs_to_user?(tight_end_stat) %>
        <%= form_tag tight_end_stat_path(tight_end_stat), method: :delete, remote: remote do %>
          <% button_tag class: 'btn btn-danger btn-sm' do %>
            <%= fa_icon 'trash' %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<%= render 'shared/actions', resource: tight_end_stat %>