<div id="event-<%= @tight_end_stat.id %>" class="event">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 well">
      <%= render @tight_end_stat, remote: false %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 well">
      <h4>Comments</h4>
      <hr>
      <%= render 'comments/form', commentable: @tight_end_stat %>
      <br>
      <div class="comments">
        <%= render(@comments) || render('shared/no_resource', resources: 'Comments') %>
      </div>
    </div>
  </div>
</div>



<p>
  <strong>Event:</strong>
  <%= @tight_end_stat.event %>
</p>

<!-- <p>
  <strong>Games played:</strong>
  <%= @tight_end_stat.games_played %>
</p> -->

<p>
  <strong>Win:</strong>
  <%= @tight_end_stat.win %>
</p>


<p>
  <strong>Receptions:</strong>
  <%= @tight_end_stat.receptions %>
</p>

<p>
  <strong>Reception yards:</strong>
  <%= @tight_end_stat.reception_yards %>
</p>

<p>
  <strong>Reception touchdowns:</strong>
  <%= @tight_end_stat.reception_touchdowns %>
</p>

<p>
  <strong>Pancakes:</strong>
  <%= @tight_end_stat.pancakes %>
</p>


