<p id="notice"><%= notice %></p>

<p>
  <strong>Position name:</strong>
  <%= @tight_end_stat.position_name %>
</p>

<p>
  <strong>Shorthand:</strong>
  <%= @tight_end_stat.shorthand %>
</p>

<p>
  <strong>Sport:</strong>
  <%= @tight_end_stat.sport_id %>
</p>

<p>
  <strong>Position:</strong>
  <%= @tight_end_stat.position_id %>
</p>

<p>
  <strong>Sport name:</strong>
  <%= @tight_end_stat.sport_name %>
</p>

<p>
  <strong>Event:</strong>
  <%= @tight_end_stat.event %>
</p>

<p>
  <strong>Games played:</strong>
  <%= @tight_end_stat.games_played %>
</p>

<p>
  <strong>Win:</strong>
  <%= @tight_end_stat.win %>
</p>

<p>
  <strong>Loss:</strong>
  <%= @tight_end_stat.loss %>
</p>

<p>
  <strong>Wins:</strong>
  <%= @tight_end_stat.wins %>
</p>

<p>
  <strong>Losses:</strong>
  <%= @tight_end_stat.losses %>
</p>

<p>
  <strong>Receptions:</strong>
  <%= @tight_end_stat.receptions %>
</p>

<p>
  <strong>Reception yards:</strong>
  <%= @tight_end_stat.reception_yards %>
</p>

<p>
  <strong>Reception touchdowns:</strong>
  <%= @tight_end_stat.reception_touchdowns %>
</p>

<p>
  <strong>Pancakes:</strong>
  <%= @tight_end_stat.pancakes %>
</p>

<p>
  <strong>User:</strong>
  <%= @tight_end_stat.user %>
</p>

<p>
  <strong>Stat:</strong>
  <%= @tight_end_stat.stat %>
</p>

<p>
  <strong>Sport:</strong>
  <%= @tight_end_stat.sport %>
</p>

<p>
  <strong>Position:</strong>
  <%= @tight_end_stat.position %>
</p>

<%= link_to 'Edit', edit_tight_end_stat_path(@tight_end_stat) %> |
<%= link_to 'Back', tight_end_stats_path %>
