<div class="info">
  <%= render 'shared/avatar', user: catcher_stat.user %>
  <h4 class="name"><%= catcher_stat.user.name %></h4>
  <span class="action">created an <%= link_to 'catcher_stat', catcher_stat %></span>
</div>
<div class="content">
  <h3><%= catcher_stat.event %></h3>
  <span class="text">




<p>
  Win:
  <%= catcher_stat.win %>
</p>

<p>
  Plate appearances:
  <%= catcher_stat.plate_appearances %>
</p>

<p>
  At bats:
  <%= catcher_stat.at_bats %>
</p>

<p>
  Hits:
  <%= catcher_stat.hits %>
</p>

<p>
  Runs scored:
  <%= catcher_stat.runs_scored %>
</p>

<p>
  Runs batted in:
  <%= catcher_stat.runs_batted_in %>
</p>

<p>
  Walks:
  <%= catcher_stat.walks %>
</p>

<p>
  Strike outs:
  <%= catcher_stat.strike_outs %>
</p>

<p>
  Stolen bases:
  <%= catcher_stat.stolen_bases %>
</p>

<p>
  Doubles:
  <%= catcher_stat.doubles %>
</p>

<p>
  Triples:
  <%= catcher_stat.triples %>
</p>

<p>
  Home runs:
  <%= catcher_stat.home_runs %>
</p>






  </span>
  <%= render 'shared/created_at', activity: catcher_stat %>
  <div class="points">
    <span class="like-count"><%= pluralize(catcher_stat.cached_votes_up, 'like') %></span>
    <span class="comment-count"><%= pluralize(catcher_stat.comments_count, 'comment') %></span>
    <div class="pull-right">
      <% if belongs_to_user?(catcher_stat) %>
        <%= form_tag catcher_stat_path(catcher_stat), method: :delete, remote: remote do %>
          <% button_tag class: 'btn btn-danger btn-sm' do %>
            <%= fa_icon 'trash' %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<%= render 'shared/actions', resource: catcher_stat %>