<div id="event-<%= @catcher_stat.id %>" class="event">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 well">
      <%= render @catcher_stat, remote: false %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 well">
      <h4>Comments</h4>
      <hr>
      <%= render 'comments/form', commentable: @event %>
      <br>
      <div class="comments">
        <%= render(@comments) || render('shared/no_resource', resources: 'Comments') %>
      </div>
    </div>
  </div>





<p id="notice"><%= notice %></p>

<p>
  <strong>Position name:</strong>
  <%= @catcher_stat.position_name %>
</p>

<p>
  <strong>Shorthand:</strong>
  <%= @catcher_stat.shorthand %>
</p>

<p>
  <strong>Sport:</strong>
  <%= @catcher_stat.sport_id %>
</p>

<p>
  <strong>Position:</strong>
  <%= @catcher_stat.position_id %>
</p>

<p>
  <strong>Sport name:</strong>
  <%= @catcher_stat.sport_name %>
</p>

<p>
  <strong>Event:</strong>
  <%= @catcher_stat.event %>
</p>

<p>
  <strong>Games started:</strong>
  <%= @catcher_stat.games_started %>
</p>

<p>
  <strong>Games played:</strong>
  <%= @catcher_stat.games_played %>
</p>

<p>
  <strong>Win:</strong>
  <%= @catcher_stat.win %>
</p>

<p>
  <strong>Loss:</strong>
  <%= @catcher_stat.loss %>
</p>

<p>
  <strong>Wins:</strong>
  <%= @catcher_stat.wins %>
</p>

<p>
  <strong>Losses:</strong>
  <%= @catcher_stat.losses %>
</p>

<p>
  <strong>Plate appearances:</strong>
  <%= @catcher_stat.plate_appearances %>
</p>

<p>
  <strong>At bats:</strong>
  <%= @catcher_stat.at_bats %>
</p>

<p>
  <strong>Hits:</strong>
  <%= @catcher_stat.hits %>
</p>

<p>
  <strong>Runs scored:</strong>
  <%= @catcher_stat.runs_scored %>
</p>

<p>
  <strong>Runs batted in:</strong>
  <%= @catcher_stat.runs_batted_in %>
</p>

<p>
  <strong>Walks:</strong>
  <%= @catcher_stat.walks %>
</p>

<p>
  <strong>Strike outs:</strong>
  <%= @catcher_stat.strike_outs %>
</p>

<p>
  <strong>Stolen bases:</strong>
  <%= @catcher_stat.stolen_bases %>
</p>

<p>
  <strong>Doubles:</strong>
  <%= @catcher_stat.doubles %>
</p>

<p>
  <strong>Triples:</strong>
  <%= @catcher_stat.triples %>
</p>

<p>
  <strong>Home runs:</strong>
  <%= @catcher_stat.home_runs %>
</p>

<p>
  <strong>User:</strong>
  <%= @catcher_stat.user %>
</p>

<p>
  <strong>Stat:</strong>
  <%= @catcher_stat.stat %>
</p>

<p>
  <strong>Sport:</strong>
  <%= @catcher_stat.sport %>
</p>

<p>
  <strong>Position:</strong>
  <%= @catcher_stat.position %>
</p>

<%= link_to 'Edit', edit_catcher_stat_path(@catcher_stat) %> |
<%= link_to 'Back', catcher_stats_path %>
