<div id="event-<%= @catcher_stat.id %>" class="event">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 well">
      <div class="info">
  <%= render 'shared/avatar', user: @catcher_stat.user %>
  <h4 class="name"><%= @catcher_stat.user.name %></h4>
  <span class="action">created a <%= link_to 'Starting Pitcher ', @catcher_stat %>stat</span>
</div>
<div class="content">
  <h3><%= @catcher_stat.event %></h3>
  <span class="text">

<!-- <p>
  <strong>Games started:</strong>
  <%= @catcher_stat.games_started %>
</p> -->


<p>
  <strong>Win:</strong>
  <%= @catcher_stat.win %>
</p>
<p>
 Score:
  <%= @catcher_stat.score %> - <%= @catcher_stat.opponent_score %>
</p>

    <% if @catcher_stat.plate_appearances.present? %>
<p>
  <strong>Plate appearances:</strong>
  <%= @catcher_stat.plate_appearances %>
</p>
    <% end %>
    <% if @catcher_stat.at_bats.present? %>
<p>
  <strong>At bats:</strong>
  <%= @catcher_stat.at_bats %>
</p>
    <% end %>
    <% if @catcher_stat.hits.present? %>
<p>
  <strong>Hits:</strong>
  <%= @catcher_stat.hits %>
</p>
    <% end %>
    <% if @catcher_stat.runs_scored.present? %>
<p>
  <strong>Runs scored:</strong>
  <%= @catcher_stat.runs_scored %>
</p>
    <% end %>
    <% if @catcher_stat.runs_batted_in.present? %>
<p>
  <strong>Runs batted in:</strong>
  <%= @catcher_stat.runs_batted_in %>
</p>
    <% end %>
    <% if @catcher_stat.walks.present? %>
<p>
  <strong>Walks:</strong>
  <%= @catcher_stat.walks %>
</p>
    <% end %>
    <% if @catcher_stat.strike_outs.present? %>
<p>
  <strong>Strike outs:</strong>
  <%= @catcher_stat.strike_outs %>
</p>
    <% end %>
    <% if @catcher_stat.stolen_bases.present? %>
<p>
  <strong>Stolen bases:</strong>
  <%= @catcher_stat.stolen_bases %>
</p>
    <% end %>
    <% if @catcher_stat.doubles.present? %>
<p>
  <strong>Doubles:</strong>
  <%= @catcher_stat.doubles %>
</p>
    <% end %>
    <% if @catcher_stat.triples.present? %>
<p>
  <strong>Triples:</strong>
  <%= @catcher_stat.triples %>
</p>
    <% end %>
    <% if @catcher_stat.home_runs.present? %>
<p>
  <strong>Home runs:</strong>
  <%= @catcher_stat.home_runs %>
</p>
    <% end %>

  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 well">
      <h4>Comments</h4>
      <hr>
      <%= render 'comments/form', commentable: @catcher_stat %>
      <br>
      <div class="comments">
        <%= render(@comments) || render('shared/no_resource', resources: 'Comments') %>
      </div>
    </div>
  </div>
</div>