<%= form_for(@power_forward_stat) do |f| %>
  <div class="field">
    <%= f.label :event %><br>
    <%= f.text_field :event %>
  </div>
  <div class="field">
    <%= f.label :games_started %><br>
    <%= f.number_field :games_started %>
  </div>
  <div class="field">
    <%= f.label :games_played %><br>
    <%= f.number_field :games_played %>
  </div>
  <div class="field">
    <%= f.label :win %><br>
    <%= f.check_box :win %>
  </div>
  <div class="field">
    <%= f.label :loss %><br>
    <%= f.check_box :loss %>
  </div>
  <div class="field">
    <%= f.label :wins %><br>
    <%= f.number_field :wins %>
  </div>
  <div class="field">
    <%= f.label :losses %><br>
    <%= f.number_field :losses %>
  </div>
  <div class="field">
    <%= f.label :minutes_played %><br>
    <%= f.number_field :minutes_played %>
  </div>
  <div class="field">
    <%= f.label :fieldgoals_made %><br>
    <%= f.number_field :fieldgoals_made %>
  </div>
  <div class="field">
    <%= f.label :fieldgoal_attemps %><br>
    <%= f.number_field :fieldgoal_attemps %>
  </div>
  <div class="field">
    <%= f.label :threepoints_made %><br>
    <%= f.number_field :threepoints_made %>
  </div>
  <div class="field">
    <%= f.label :threepoint_attemps %><br>
    <%= f.number_field :threepoint_attemps %>
  </div>
  <div class="field">
    <%= f.label :freethrows_made %><br>
    <%= f.number_field :freethrows_made %>
  </div>
  <div class="field">
    <%= f.label :freethrow_attemps %><br>
    <%= f.number_field :freethrow_attemps %>
  </div>
  <div class="field">
    <%= f.label :rebounds %><br>
    <%= f.number_field :rebounds %>
  </div>
  <div class="field">
    <%= f.label :assists %><br>
    <%= f.number_field :assists %>
  </div>
  <div class="field">
    <%= f.label :steals %><br>
    <%= f.number_field :steals %>
  </div>
  <div class="field">
    <%= f.label :blocks %><br>
    <%= f.number_field :blocks %>
  </div>
  <div class="field">
    <%= f.label :points %><br>
    <%= f.number_field :points %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
