<div class="info">
  <%= render 'shared/avatar', user: power_forward_stat.user %>
  <h4 class="name"><%= power_forward_stat.user.name %></h4>
  <span class="action">created an <%= link_to 'power_forward_stat', power_forward_stat %></span>
</div>
<div class="content">
  <h3><%= power_forward_stat.event %></h3>
  <span class="text">

<p>
  Win:
  <%= power_forward_stat.win ? 'Yes' : 'No' %>
</p>

<p>
 score:
  <%= power_forward_stat.score %> - <%= power_forward_stat.opponent_score %>
</p>

<span class="points"><%= link_to 'view more stats', power_forward_stat %></span>

    
  </span>
  <%= render 'shared/created_at', activity: power_forward_stat %>
  <div class="points">
    <span class="like-count"><%= pluralize(power_forward_stat.cached_votes_up, 'like') %></span>
    <span class="comment-count"><%= pluralize(power_forward_stat.comments_count, 'comment') %></span>
    <div class="pull-right">
      <% if belongs_to_user?(power_forward_stat) %>
        <%= form_tag power_forward_stat_path(power_forward_stat), method: :delete, remote: remote do %>
          <% button_tag class: 'btn btn-danger btn-sm' do %>
            <%= fa_icon 'trash' %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<%= render 'shared/actions', resource: power_forward_stat %>