<div class="row">
<div class="col-lg-12 well">
<p id="notice"><%= notice %></p>

<h1>Listing Power Forward Stats</h1>

<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>Event</th>
      <th>Score</th>
      <!-- <th>Games started</th>-->
      <th>Win</th>
      <th>Minutes played</th>
      <th>Fieldgoals made</th>
      <th>Fieldgoal attemps</th>
      <th>Threepoints made</th>
      <th>Threepoint attemps</th>
      <th>Freethrows made</th>
      <th>Freethrow attemps</th>
      <th>Rebounds</th>
      <th>Assists</th>
      <th>Steals</th>
      <th>Blocks</th>
      <th>Points</th>
      <th>Athlete</th>
    </tr>
  </thead>

  <tbody>
    <% @power_forward_stats.each do |power_forward_stat| %>
      <tr>
        <td><%= power_forward_stat.event %></td>
        <!-- <td><%= power_forward_stat.games_started %></td>-->
        <td><%= power_forward_stat.win ? 'Yes' : 'No' %></td>
        <td><%= power_forward_stat.score %> - <%= power_forward_stat.opponent_score %></td>
        <td><%= power_forward_stat.minutes_played %></td>
        <td><%= power_forward_stat.fieldgoals_made %></td>
        <td><%= power_forward_stat.fieldgoal_attemps %></td>
        <td><%= power_forward_stat.threepoints_made %></td>
        <td><%= power_forward_stat.threepoint_attemps %></td>
        <td><%= power_forward_stat.freethrows_made %></td>
        <td><%= power_forward_stat.freethrow_attemps %></td>
        <td><%= power_forward_stat.rebounds %></td>
        <td><%= power_forward_stat.assists %></td>
        <td><%= power_forward_stat.steals %></td>
        <td><%= power_forward_stat.blocks %></td>
        <td><%= power_forward_stat.points %></td>
        <td><%= power_forward_stat.user.try(:name) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>