<p id="notice"><%= notice %></p>

<p>
  <strong>Position name:</strong>
  <%= @power_forward_stat.position_name %>
</p>

<p>
  <strong>Shorthand:</strong>
  <%= @power_forward_stat.shorthand %>
</p>

<p>
  <strong>Sport:</strong>
  <%= @power_forward_stat.sport_id %>
</p>

<p>
  <strong>Position:</strong>
  <%= @power_forward_stat.position_id %>
</p>

<p>
  <strong>Sport name:</strong>
  <%= @power_forward_stat.sport_name %>
</p>

<p>
  <strong>Event:</strong>
  <%= @power_forward_stat.event %>
</p>

<p>
  <strong>Games started:</strong>
  <%= @power_forward_stat.games_started %>
</p>

<p>
  <strong>Games played:</strong>
  <%= @power_forward_stat.games_played %>
</p>

<p>
  <strong>Win:</strong>
  <%= @power_forward_stat.win %>
</p>

<p>
  <strong>Loss:</strong>
  <%= @power_forward_stat.loss %>
</p>

<p>
  <strong>Wins:</strong>
  <%= @power_forward_stat.wins %>
</p>

<p>
  <strong>Losses:</strong>
  <%= @power_forward_stat.losses %>
</p>

<p>
  <strong>Minutes played:</strong>
  <%= @power_forward_stat.minutes_played %>
</p>

<p>
  <strong>Fieldgoals made:</strong>
  <%= @power_forward_stat.fieldgoals_made %>
</p>

<p>
  <strong>Fieldgoal attemps:</strong>
  <%= @power_forward_stat.fieldgoal_attemps %>
</p>

<p>
  <strong>Threepoints made:</strong>
  <%= @power_forward_stat.threepoints_made %>
</p>

<p>
  <strong>Threepoint attemps:</strong>
  <%= @power_forward_stat.threepoint_attemps %>
</p>

<p>
  <strong>Freethrows made:</strong>
  <%= @power_forward_stat.freethrows_made %>
</p>

<p>
  <strong>Freethrow attemps:</strong>
  <%= @power_forward_stat.freethrow_attemps %>
</p>

<p>
  <strong>Rebounds:</strong>
  <%= @power_forward_stat.rebounds %>
</p>

<p>
  <strong>Assists:</strong>
  <%= @power_forward_stat.assists %>
</p>

<p>
  <strong>Steals:</strong>
  <%= @power_forward_stat.steals %>
</p>

<p>
  <strong>Blocks:</strong>
  <%= @power_forward_stat.blocks %>
</p>

<p>
  <strong>Points:</strong>
  <%= @power_forward_stat.points %>
</p>

<p>
  <strong>User:</strong>
  <%= @power_forward_stat.user %>
</p>

<p>
  <strong>Stat:</strong>
  <%= @power_forward_stat.stat %>
</p>

<p>
  <strong>Sport:</strong>
  <%= @power_forward_stat.sport %>
</p>

<p>
  <strong>Position:</strong>
  <%= @power_forward_stat.position %>
</p>

<%= link_to 'Edit', edit_power_forward_stat_path(@power_forward_stat) %> |
<%= link_to 'Back', power_forward_stats_path %>
