<div class="info">
  <%= render 'shared/avatar', user: small_forward_stat.user %>
  <h4 class="name"><%= small_forward_stat.user.name %></h4>
  <span class="action">created an <%= link_to 'small_forward_stat', small_forward_stat %></span>
</div>
<div class="content">
  <h3><%= small_forward_stat.event %></h3>
  <span class="text">
    
<p>
  Win:
  <%= small_forward_stat.win ? 'Yes' : 'No' %>
</p>

<p>
 score:
  <%= small_forward_stat.score %> - <%= small_forward_stat.opponent_score %>
</p>

<span class="points"><%= link_to 'view more stats', small_forward_stat %></span>




  </span>
  <%= render 'shared/created_at', activity: small_forward_stat %>
  <div class="points">
    <span class="like-count"><%= pluralize(small_forward_stat.cached_votes_up, 'like') %></span>
    <span class="comment-count"><%= pluralize(small_forward_stat.comments_count, 'comment') %></span>
    <div class="pull-right">
      <% if belongs_to_user?(small_forward_stat) %>
        <%= form_tag small_forward_stat_path(small_forward_stat), method: :delete, remote: remote do %>
          <% button_tag class: 'btn btn-danger btn-sm' do %>
            <%= fa_icon 'trash' %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<%= render 'shared/actions', resource: small_forward_stat %>