<p id="notice"><%= notice %></p>

<h1>Listing Small Forward Stats</h1>

<table>
  <thead>
    <tr>
      <th>Position name</th>
      <th>Shorthand</th>
      <th>Sport</th>
      <th>Position</th>
      <th>Sport name</th>
      <th>Event</th>
      <th>Games started</th>
      <th>Games played</th>
      <th>Win</th>
      <th>Loss</th>
      <th>Wins</th>
      <th>Losses</th>
      <th>Minutes played</th>
      <th>Fieldgoals made</th>
      <th>Fieldgoal attemps</th>
      <th>Threepoints made</th>
      <th>Threepoint attemps</th>
      <th>Freethrows made</th>
      <th>Freethrow attemps</th>
      <th>Rebounds</th>
      <th>Assists</th>
      <th>Steals</th>
      <th>Blocks</th>
      <th>Points</th>
      <th>User</th>
      <th>Stat</th>
      <th>Sport</th>
      <th>Position</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @small_forward_stats.each do |small_forward_stat| %>
      <tr>
        <td><%= small_forward_stat.position_name %></td>
        <td><%= small_forward_stat.shorthand %></td>
        <td><%= small_forward_stat.sport_id %></td>
        <td><%= small_forward_stat.position_id %></td>
        <td><%= small_forward_stat.sport_name %></td>
        <td><%= small_forward_stat.event %></td>
        <td><%= small_forward_stat.games_started %></td>
        <td><%= small_forward_stat.games_played %></td>
        <td><%= small_forward_stat.win %></td>
        <td><%= small_forward_stat.loss %></td>
        <td><%= small_forward_stat.wins %></td>
        <td><%= small_forward_stat.losses %></td>
        <td><%= small_forward_stat.minutes_played %></td>
        <td><%= small_forward_stat.fieldgoals_made %></td>
        <td><%= small_forward_stat.fieldgoal_attemps %></td>
        <td><%= small_forward_stat.threepoints_made %></td>
        <td><%= small_forward_stat.threepoint_attemps %></td>
        <td><%= small_forward_stat.freethrows_made %></td>
        <td><%= small_forward_stat.freethrow_attemps %></td>
        <td><%= small_forward_stat.rebounds %></td>
        <td><%= small_forward_stat.assists %></td>
        <td><%= small_forward_stat.steals %></td>
        <td><%= small_forward_stat.blocks %></td>
        <td><%= small_forward_stat.points %></td>
        <td><%= small_forward_stat.user %></td>
        <td><%= small_forward_stat.stat %></td>
        <td><%= small_forward_stat.sport %></td>
        <td><%= small_forward_stat.position %></td>
        <td><%= link_to 'Show', small_forward_stat %></td>
        <td><%= link_to 'Edit', edit_small_forward_stat_path(small_forward_stat) %></td>
        <td><%= link_to 'Destroy', small_forward_stat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Small forward stat', new_small_forward_stat_path %>
