<div class="info">
  <%= render 'shared/avatar', user: designated_hitter_stat.user %>
  <h4 class="name"><%= designated_hitter_stat.user.name %></h4>
  <span class="action">created an <%= link_to 'designated_hitter_stat', designated_hitter_stat %></span>
</div>
<div class="content">
  <h3><%= designated_hitter_stat.event %></h3>
  <span class="text">

<p>
  Win:
  <%= designated_hitter_stat.win ? 'Yes' : 'No' %>
</p>

<p>
 score:
  <%= designated_hitter_stat.score %> - <%= designated_hitter_stat.opponent_score %>
</p>

<span class="points"><%= link_to 'view more stats', designated_hitter_stat %></span>


  </span>
  <%= render 'shared/created_at', activity: designated_hitter_stat %>
  <div class="points">
    <span class="like-count"><%= pluralize(designated_hitter_stat.cached_votes_up, 'like') %></span>
    <span class="comment-count"><%= pluralize(designated_hitter_stat.comments_count, 'comment') %></span>
    <div class="pull-right">
      <% if belongs_to_user?(designated_hitter_stat) %>
        <%= form_tag designated_hitter_stat_path(designated_hitter_stat), method: :delete, remote: remote do %>
          <% button_tag class: 'btn btn-danger btn-sm' do %>
            <%= fa_icon 'trash' %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<%= render 'shared/actions', resource: designated_hitter_stat %>