<%= form_for @stat do |f| %>
  <div class="field">
    <%= f.label :position_id, "Pick the position you play" %><br />
    <%= f.grouped_collection_select :position_id, Sport.order(:name), :positions, :name, :id, :position_name, include_blank: true %>
 </div>
</div>

<div id="starting-pitcher" class="col-lg-6 well">
<%= link_to "Starting Pitcher", new_starting_pitcher_stat_path %>
</div>

<div id="relief-pitcher" class="col-lg-6 well">
<%= link_to "Relief Pitcher", new_relief_pitcher_stat_path %>
</div>

<div id="forward" class="col-lg-6 well">
<%= link_to "Forward", new_forward_stat_path %>
</div>

<div id="defender" class="col-lg-6 well">
<%= link_to "Defender", new_defender_stat_path %>
</div>

<div id="goalkeeper" class="col-lg-6 well">
<!-- <a href="#" class="btn btn-success">Soccer</a> -->
<%= link_to "Goalkeeper", new_goalkeeper_stat_path%>
</div>

<div id="kicker-returner" class="col-lg-6 well">
<%= link_to "Kick Returner", new_kicker_returner_stat_path %>
</div>

<div id="kicker" class="col-lg-6 well">
<%= link_to "Kicker", new_kicker_stat_path %>
</div>

<div id="midfielder" class="col-lg-6 well">
<%= link_to "Midfielder", new_midfielder_stat_path%>
</div>

<div id="wide-receiver" class="col-lg-6 well">
<%= link_to "Wide Reciever", new_wide_receiver_stat_path %>
</div>

<div id="running-back" class="col-lg-6 well">
<%= link_to "Running Back", new_running_back_stat_path %>
</div>

<div id="offensive-lineman" class="col-lg-6 well">
<%= link_to "Offensive Lineman", new_offensive_lineman_stat_path %>
</div>

<div id="defensive-back" class="col-lg-6 well">
<%= link_to "Defensive Back", new_defensive_back_stat_path %>
</div>

<div id="line-backer" class="col-lg-6 well">
<%= link_to "Line Backer", new_line_backer_stat_path %>
</div>

<div id="defensive-tackle" class="col-lg-6 well">
<%= link_to "Defensive Tackle", new_defensive_tackle_stat_path %>
</div>

<div id="defensive-end" class="col-lg-6 well">
<%= link_to "Defensive End", new_defensive_end_stat_path %>
</div>

<div id="center" class="col-lg-6 well">
<%= link_to "Center", new_center_stat_path %>
</div>

<div id="small-forward" class="col-lg-6 well">
<%= link_to "Small Forward", new_small_forward_stat_path %>
</div>

<div id="shooting-guard" class="col-lg-6 well">
<%= link_to "Shooting Guard", new_shooting_guard_stat_path %>
</div>

<div id="point-guard" class="col-lg-6 well">
<!-- <a href="#" class="btn btn-success">Basketball</a> -->
<%= link_to "Point Guard", new_point_guard_stat_path%>
</div>

<div id="power-forward" class="col-lg-6 well">
<%= link_to "Power Forward", new_power_forward_stat_path%>
</div>

<div id="designated-hitter" class="col-lg-6 well">
<%= link_to "Designated Hitter", new_designated_hitter_stat_path %>
</div>

<div id="right-fielder" class="col-lg-6 well">
<%= link_to "Right Fielder", new_right_fielder_stat_path %>
</div>

<div id="center-fielder" class="col-lg-6 well">
<%= link_to "Center Fielder", new_center_fielder_stat_path %>
</div>

<div id="left-fielder" class="col-lg-6 well">
<%= link_to "Left Fielder", new_left_fielder_stat_path %>
</div>

<div id="shortstop" class="col-lg-6 well">
<%= link_to "Shortstop", new_shortstop_stat_path %>
</div>

<div id="third-baseman" class="col-lg-6 well">
<%= link_to "Third Baseman", new_third_baseman_stat_path %>
</div>

<div id="second-baseman" class="col-lg-6 well">
<%= link_to "Second Baseman", new_second_baseman_stat_path %>
</div>

<div id="first-baseman" class="col-lg-6 well">
<%= link_to "First Baseman", new_first_baseman_stat_path %>
</div>

<div id="catcher" class="col-lg-6 well">
<!-- <a href="#" class="btn btn-success">Baseball</a> -->
<%= link_to "Catcher", new_catcher_stat_path%>
</div>

<div id="runner" class="col-lg-6 well">
<!-- <a href="#" class="btn btn-success">Cross Country</a> -->
<%= link_to "Runner", new_runner_stat_path%>
</div>

<div id="quarterback" class="col-lg-6 well">
<!-- <a href="#" class="btn btn-success">Football</a> -->
<%= link_to "Quarterback", new_quarterback_stat_path%>
</div>

<div id="tight-end" class="col-lg-6 well">
<%= link_to "Tight End", new_tight_end_stat_path%>
</div>

<div id="sprinter" class="col-lg-6 well">
<!-- <a href="#" class="btn btn-success">Track and Field</a> -->
<%= link_to "Sprinter", new_sprinter_stat_path%>
</div>




<% end %>

