
<h2>Stat Boards</h2>
<div>
<h4>Baseball</h4>
<%= link_to catcher_stats_path do %>
  <div id="xcatchers" class="col-lg-6 well">Catchers Board</div>
<% end %>

<%= link_to designated_hitter_stats_path do %>
  <div id="xdesignated-hitters" class="col-lg-6 well">Designated Hitters Board</div>
<% end %>

<%= link_to first_baseman_stats_path do %>
  <div id="xfirst-basemans" class="col-lg-6 well">First Basemen Board</div>
<% end %>

<%= link_to relief_pitcher_stats_path do %>
  <div id="xrelief-pitchers" class="col-lg-6 well">Relief Pitchers Board</div>
<% end %>

<%= link_to second_baseman_stats_path do %>
  <div id="xsecond-basemans" class="col-lg-6 well">Second Basemen Board</div>
<% end %>

<%= link_to shortstop_stats_path do %>
  <div id="xshortstops" class="col-lg-6 well">Shortstops Board</div>
<% end %>

<%= link_to starting_pitcher_stats_path do %>
  <div id="xstarting-pitchers" class="col-lg-6 well">Starting Pitchers Board</div>
<% end %>

<%= link_to third_baseman_stats_path do %>
  <div id="xthird-basemans" class="col-lg-6 well">Third Basemen Board</div>
<% end %>
</div>

<div>
<h4>Basketball</h4>
<%= link_to center_stats_path do %>
  <div id="xcenters" class="col-lg-6 well">Centers Board</div>
<% end %>

<%= link_to forward_stats_path do %>
  <div id="xforwards" class="col-lg-6 well">Forwards Board</div>
<% end %>

<%= link_to point_guard_stats_path do %>
  <div id="xpoint-guards" class="col-lg-6 well">Point Guards Board</div>
<% end %>

<%= link_to power_forward_stats_path do %>
  <div id="xpower-forwards" class="col-lg-6 well">Power Forwards Board</div>
<% end %>

<%= link_to shooting_guard_stats_path do %>
  <div id="xshooting-guards" class="col-lg-6 well">Shooting Guards Board</div>
<% end %>

<%= link_to small_forward_stats_path do %>
  <div id="xsmall-forwards" class="col-lg-6 well">Small Forwards Board</div>
<% end %>
</div>

<div>
<h4>Football</h4>
<%= link_to defensive_back_stats_path do %>
  <div id="xdefensive-backs" class="col-lg-6 well">Defensive Backs Board</div>
<% end %>

<%= link_to defensive_end_stats_path do %>
  <div id="xdefensive-ends" class="col-lg-6 well">Defensive Ends Board</div>
<% end %>

<%= link_to defensive_tackle_stats_path do %>
  <div id="xdefensive-tackles" class="col-lg-6 well">Defensive Tackles Board</div>
<% end %>

<%= link_to kicker_stats_path do %>
  <div id="xkickers" class="col-lg-6 well">Kickers Board</div>
<% end %>

<%= link_to kicker_returner_stats_path do %>
  <div id="xkicker-returners" class="col-lg-6 well">Kick Returners Board</div>
<% end %>

<%= link_to line_backer_stats_path do %>
  <div id="xline-backers" class="col-lg-6 well">Line Backers Board</div>
<% end %>

<%= link_to offensive_lineman_stats_path do %>
  <div id="xoffensive-linemen" class="col-lg-6 well">Offensive Linemans Board</div>
<% end %>

<%= link_to quarterback_stats_path do %>
  <div id="xquarterbacks" class="col-lg-6 well">Quarterbacks Board</div>
<% end %>

<%= link_to running_back_stats_path do %>
  <div id="xrunning-backs" class="col-lg-6 well">Running Backs Board</div>
<% end %>

<%= link_to tight_end_stats_path do %>
  <div id="xtight-ends" class="col-lg-6 well">Tight Ends Board</div>
<% end %>

<%= link_to wide_receiver_stats_path do %>
  <div id="xwide-receivers" class="col-lg-12 well">Wide Receivers Board</div>
<% end %>

</div>


<div>
<h4>Racing</h4>
<%= link_to runner_stats_path do %>
  <div id="xrunners" class="col-lg-6 well">Cross Country Board</div>
<% end %>

<%= link_to sprinter_stats_path do %>
  <div id="xsprinters" class="col-lg-6 well">Track &amp; Field Board</div>
<% end %>
</div>

<div>
<h4>Soccer</h4>
<%= link_to defender_stats_path do %>
  <div id="xdefenders" class="col-lg-6 well">Defenders Board</div>
<% end %>

<%= link_to goalkeeper_stats_path do %>
  <div id="xgoalkeepers" class="col-lg-6 well">Goalkeepers Board</div>
<% end %>

<%= link_to midfielder_stats_path do %>
  <div id="xmidfielders" class="col-lg-6 well">Midfielders Board</div>
<% end %>

<%= link_to right_fielder_stats_path do %>
  <div id="xright-fielders" class="col-lg-6 well">Right Fielders Board</div>
<% end %>

<%= link_to center_fielder_stats_path do %>
  <div id="xcenter-fielders" class="col-lg-6 well">Center Fielders Board</div>
<% end %>

<%= link_to left_fielder_stats_path do %>
  <div id="xleft-fielders" class="col-lg-6 well">Left Fielders Board</div>
<% end %>
</div>





