
<h1>Stat Boards</h1>
<div id="starting-pitchers" class="col-lg-6 well">
<%= link_to "Starting Pitchers", starting_pitcher_stats_path %>
</div>

<div id="relief-pitchers" class="col-lg-6 well">
<%= link_to "Relief Pitchers", relief_pitcher_stats_path %>
</div>

<div id="forwards" class="col-lg-6 well">
<%= link_to "Forwards", forward_stats_path %>
</div>

<div id="defenders" class="col-lg-6 well">
<%= link_to "Defenders", defender_stats_path %>
</div>

<div id="goalkeepers" class="col-lg-6 well">
<!-- <a href="#" class="btn btn-success">Soccer</a> -->
<%= link_to "Goalkeepers", goalkeeper_stats_path%>
</div>

<div id="kicker-returners" class="col-lg-6 well">
<%= link_to "Kick Returners", kicker_returner_stats_path %>
</div>

<div id="kickers" class="col-lg-6 well">
<%= link_to "Kickers", kicker_stats_path %>
</div>

<div id="midfielders" class="col-lg-6 well">
<%= link_to "Midfielders", midfielder_stats_path%>
</div>

<div id="wide-receivers" class="col-lg-6 well">
<%= link_to "Wide receivers", wide_receiver_stats_path %>
</div>

<div id="running-backs" class="col-lg-6 well">
<%= link_to "Running Backs", running_back_stats_path %>
</div>

<div id="offensive-linemen" class="col-lg-6 well">
<%= link_to "Offensive Linemen", offensive_lineman_stats_path %>
</div>

<div id="defensive-backs" class="col-lg-6 well">
<%= link_to "Defensive Backs", defensive_back_stats_path %>
</div>

<div id="line-backers" class="col-lg-6 well">
<%= link_to "Line Backers", line_backer_stats_path %>
</div>

<div id="defensive-tackles" class="col-lg-6 well">
<%= link_to "Defensive Tackles", defensive_tackle_stats_path %>
</div>

<div id="defensive-ends" class="col-lg-6 well">
<%= link_to "Defensive Ends", defensive_end_stats_path %>
</div>

<div id="centers" class="col-lg-6 well">
<%= link_to "Centers", center_stats_path %>
</div>

<div id="small-forwards" class="col-lg-6 well">
<%= link_to "Small Forwards", small_forward_stats_path %>
</div>

<div id="shooting-guards" class="col-lg-6 well">
<%= link_to "Shooting Guards", shooting_guard_stats_path %>
</div>

<div id="point-guards" class="col-lg-6 well">
<!-- <a href="#" class="btn btn-success">Basketball</a> -->
<%= link_to "Point Guards", point_guard_stats_path%>
</div>

<div id="power-forwards" class="col-lg-6 well">
<%= link_to "Power Forward", power_forward_stats_path%>
</div>

<div id="designated-hitters" class="col-lg-6 well">
<%= link_to "Designated Hitters", designated_hitter_stats_path %>
</div>

<div id="right-fielders" class="col-lg-6 well">
<%= link_to "Right Fielders", right_fielder_stats_path %>
</div>

<div id="center-fielders" class="col-lg-6 well">
<%= link_to "Center Fielders", center_fielder_stats_path %>
</div>

<div id="left-fielders" class="col-lg-6 well">
<%= link_to "Left Fielders", left_fielder_stats_path %>
</div>

<div id="shortstops" class="col-lg-6 well">
<%= link_to "Shortstops", shortstop_stats_path %>
</div>

<div id="third-basemans" class="col-lg-6 well">
<%= link_to "Third Basemen", third_baseman_stats_path %>
</div>

<div id="second-basemans" class="col-lg-6 well">
<%= link_to "Second Basemen", second_baseman_stats_path %>
</div>

<div id="first-basemans" class="col-lg-6 well">
<%= link_to "First Basemen", first_baseman_stats_path %>
</div>

<div id="catchers" class="col-lg-6 well">
<!-- <a href="#" class="btn btn-success">Baseball</a> -->
<%= link_to "Catchers", catcher_stats_path%>
</div>

<div id="runners" class="col-lg-6 well">
<!-- <a href="#" class="btn btn-success">Cross Country</a> -->
<%= link_to "Runners", runner_stats_path%>
</div>

<div id="quarterbacks" class="col-lg-6 well">
<!-- <a href="#" class="btn btn-success">Football</a> -->
<%= link_to "Quarterbacks", quarterback_stats_path%>
</div>

<div id="tight-ends" class="col-lg-6 well">
<%= link_to "Tight Ends", tight_end_stats_path%>
</div>

<div id="sprinters" class="col-lg-6 well">
<!-- <a href="#" class="btn btn-success">Track and Field</a> -->
<%= link_to "Sprinters", sprinter_stats_path%>
</div>



