<p id="notice"><%= notice %></p>

<h1>Listing Defensive Back Stats</h1>

<table>
  <thead>
    <tr>
      <th>Position name</th>
      <th>Shorthand</th>
      <th>Sport</th>
      <th>Position</th>
      <th>Sport name</th>
      <th>Event</th>
      <th>Win</th>
      <th>Loss</th>
      <th>Wins</th>
      <th>Losses</th>
      <th>Tackles</th>
      <th>Sacks</th>
      <th>Fumbles</th>
      <th>Interception</th>
      <th>User</th>
      <th>Stat</th>
      <th>Sport</th>
      <th>Position</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @defensive_back_stats.each do |defensive_back_stat| %>
      <tr>
        <td><%= defensive_back_stat.position_name %></td>
        <td><%= defensive_back_stat.shorthand %></td>
        <td><%= defensive_back_stat.sport_id %></td>
        <td><%= defensive_back_stat.position_id %></td>
        <td><%= defensive_back_stat.sport_name %></td>
        <td><%= defensive_back_stat.event %></td>
        <td><%= defensive_back_stat.win %></td>
        <td><%= defensive_back_stat.loss %></td>
        <td><%= defensive_back_stat.wins %></td>
        <td><%= defensive_back_stat.losses %></td>
        <td><%= defensive_back_stat.tackles %></td>
        <td><%= defensive_back_stat.sacks %></td>
        <td><%= defensive_back_stat.fumbles %></td>
        <td><%= defensive_back_stat.interception %></td>
        <td><%= defensive_back_stat.user %></td>
        <td><%= defensive_back_stat.stat %></td>
        <td><%= defensive_back_stat.sport %></td>
        <td><%= defensive_back_stat.position %></td>
        <td><%= link_to 'Show', defensive_back_stat %></td>
        <td><%= link_to 'Edit', edit_defensive_back_stat_path(defensive_back_stat) %></td>
        <td><%= link_to 'Destroy', defensive_back_stat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Defensive back stat', new_defensive_back_stat_path %>
