<div class="row">
<div class="col-lg-12 well">
<p id="notice"><%= notice %></p>

<h1>Listing Defensive Back Stats</h1>

<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>Event</th>
      <th>Win</th>
      <th>Score</th>
      <th>Tackles</th>
      <th>Sacks</th>
      <th>Fumbles</th>
      <th>Interception</th>
      <th>Athlete</th>
    </tr>
  </thead>

  <tbody>
    <% @defensive_back_stats.each do |defensive_back_stat| %>
      <tr>
        <td><%= defensive_back_stat.event %></td>
        <td><%= defensive_back_stat.win ? 'Yes' : 'No' %></td>
        <td><%= defensive_back_stat.score %> - <%= defensive_back_stat.opponent_score %></td>
        <td><%= defensive_back_stat.tackles %></td>
        <td><%= defensive_back_stat.sacks %></td>
        <td><%= defensive_back_stat.fumbles %></td>
        <td><%= defensive_back_stat.interception %></td>
        <td><%= defensive_back_stat.user.try(:name) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>