<div id="event-<%= @defensive_back_stat.id %>" class="event">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 well">
      <div class="info">
  <%= render 'shared/avatar', user: @defensive_back_stat.user %>
  <h4 class="name"><%= @defensive_back_stat.user.name %></h4>
  <span class="action">created a <%= link_to 'Starting Pitcher ', @defensive_back_stat %>stat</span>
</div>
<div class="content">
  <h3><%= @defensive_back_stat.event %></h3>
  <span class="text">

<p>
  <strong>Win:</strong>
  <%= @defensive_back_stat.win %>
</p>
<p>
 Score:
  <%= @defensive_back_stat.score %> - <%= @defensive_back_stat.opponent_score %>
</p>

    <% if @defensive_back_stat.tackles.present? %>
<p>
  <strong>Tackles:</strong>
  <%= @defensive_back_stat.tackles %>
</p>
    <% end %>
    <% if @defensive_back_stat.sacks.present? %>
<p>
  <strong>Sacks:</strong>
  <%= @defensive_back_stat.sacks %>
</p>
    <% end %>
    <% if @defensive_back_stat.fumbles.present? %>
<p>
  <strong>Fumbles:</strong>
  <%= @defensive_back_stat.fumbles %>
</p>
    <% end %>
    <% if @defensive_back_stat.interception.present? %>
<p>
  <strong>Interception:</strong>
  <%= @defensive_back_stat.interception %>
</p>
    <% end %>

  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 well">
      <h4>Comments</h4>
      <hr>
      <%= render 'comments/form', commentable: @defensive_back_stat %>
      <br>
      <div class="comments">
        <%= render(@comments) || render('shared/no_resource', resources: 'Comments') %>
      </div>
    </div>
  </div>
</div>