<!DOCTYPE html>
<html>
  <head>
    <title>AllPro</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <% unless notice.blank? %>
      <div class="alert alert-info alert-dismissable alert-fixed">
        <%= notice %>
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      </div>
    <% end %>
    <% unless alert.blank? %>
      <div class="alert alert-danger alert-dismissable alert-fixed">
        <%= alert %>
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      </div>
    <% end %>

        <!-- <div id="SITE_BACKGROUND_current_mainPage" style="top: 0px; height: 100%; width: 100%; position: fixed; transform: matrix(1, 0, 0, 1, 0, 0); visibility: inherit; opacity: 1; background-color: rgb(22, 137, 209);" class="siteBackgroundcurrent" >
          <div id="SITE_BACKGROUND_currentImage_mainPage" style="position: absolute; top: 0px; height: 100%; width: 100%; background-image: url(http://static.wixstatic.com/media/84770f_c68e3106ff404e69b82e1f25fb257dda.png_srz_p_1500_966_85_22_0.50_1.20_0.00_png_srz); background-size: cover; background-position: 50% 0%; background-repeat: no-repeat;" class="siteBackgroundcurrentImage" ></div>
        
      </div>
    </div> -->
    <div id="SITE_BACKGROUND" style="position: absolute; top: 0px; height: 100%; width: 100%;" class="siteBackground" data-reactid=".0.$SITE_BACKGROUND">
      <div id="SITE_BACKGROUND_previous_" class="siteBackgroundprevious" data-reactid=".0.$SITE_BACKGROUND.$noPrev">
        <div id="SITE_BACKGROUND_previousImage_" class="siteBackgroundpreviousImage" data-reactid=".0.$SITE_BACKGROUND.$noPrev.0">
        </div>
        <div id="SITE_BACKGROUNDpreviousVideo" class="siteBackgroundpreviousVideo" data-reactid=".0.$SITE_BACKGROUND.$noPrev.1">
        </div>
        <div id="SITE_BACKGROUND_previousOverlay_" class="siteBackgroundpreviousOverlay" data-reactid=".0.$SITE_BACKGROUND.$noPrev.2"></div>
      </div>
        <div id="SITE_BACKGROUND_current_mainPage" style="top: 0px; height: 100%; width: 100%; position: fixed; transform: matrix(1, 0, 0, 1, 0, 0); visibility: inherit; opacity: 1; background-color: rgb(22, 137, 209);" class="siteBackgroundcurrent" data-reactid=".0.$SITE_BACKGROUND.$mainPage">
          <div id="SITE_BACKGROUND_currentImage_mainPage" style="position: absolute; top: 0px; height: 100%; width: 100%; background-image: url(http://static.wixstatic.com/media/84770f_c68e3106ff404e69b82e1f25fb257dda.png_srz_p_1500_966_85_22_0.50_1.20_0.00_png_srz); background-size: cover; background-position: 50% 0%; background-repeat: no-repeat;" class="siteBackgroundcurrentImage" data-reactid=".0.$SITE_BACKGROUND.$mainPage.$background_currentImage_fixed"></div>
        <div id="SITE_BACKGROUNDcurrentVideo" class="siteBackgroundcurrentVideo" data-reactid=".0.$SITE_BACKGROUND.$mainPage.1" style="position: relative; min-width: 0px; min-height: 0px; top: 0px; left: 0px;"></div>
        <div id="SITE_BACKGROUND_currentOverlay_mainPage" style="position: absolute; top: 0px; width: 100%; height: 100%; background-attachment: fixed;" class="siteBackgroundcurrentOverlay" data-reactid=".0.$SITE_BACKGROUND.$mainPage.2"></div>
      </div>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>